{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans into app.request.Locale %}title.error{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="information">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.error{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    {{ render(url('text_part', {'routeName': 'erro-501-404'})) }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}