{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Log de geração de pagamento - Conteúdo{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Geração de pagamento</h1>
    </div>

    <div class="row-fluid">
        <div clas="col-md-12">
            {% for item in generate %}
                <div class="row">
                    <div class="col-md-12">
                        <strong>{{ item.date | date('d/m/Y') }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
<pre>{% for line in item.lines %}
{{ line }}
{% endfor %}</pre>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="page-header">
        <h1>Expiração de inadimplentes</h1>
    </div>
                
    <div class="row-fluid">
        <div clas="col-md-12">
            {% for item in expire %}
                <div class="row">
                    <div class="col-md-12">
                        <strong>{{ item.date | date('d/m/Y') }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
<pre>{% for line in item.lines %}
{{ line }}
{% endfor %}</pre>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}