<!DOCTYPE html>
<html lang="{{ app.request.Locale | replace({"_": "-"}) | lower }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans into app.request.Locale %}title.home{% endtrans %}{% endblock %} - {% trans into app.request.Locale %}general.congress.name{% endtrans %}</title>
        <link href="{{ asset('/assets/images/favicon.png') }}" rel="shortcut icon" type="image/png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        {% if app.request.Locale == 'pt_BR' %}
            <link rel="alternate" href="{{ url('index', {'locale': 'es'}) }}" hreflang="es" />
        {% else %}
            <link rel="alternate" href="{{ url('index', {'locale': 'pt_BR'}) }}" hreflang="pt-br" />
        {% endif %}

        {% block stylesheets %}
            <link href="{{ asset('assets/css/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/print.css') }}" media="print" rel="stylesheet" type="text/css" />
            <!--[if IE]>
                <link href="{{ asset('assets/css/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
            <![endif]-->

            <link href="{{ asset('assets/css/application.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}

        {% if app.request.get('_route') != "" %}
            {% if app.request.Locale == 'pt_BR' %}
                <meta property="og:locale" content="pt_BR" />
                <meta property="og:locale:alternate" content="es_ES" />
            {% elseif app.request.Locale == 'es' %}
                <meta property="og:locale" content="es_ES" />
                <meta property="og:locale:alternate" content="pt_BR" />
            {% endif %}
            <meta property="og:title" content="{{ block('title') }}" />
            <meta property="og:site_name" content="{% trans into app.request.Locale %}general.congress.name{% endtrans %}" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url(app.request.get('_route'), app.request.query.all) }}" />
        {% endif %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-76604331-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        {% block header %}
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#jelb-top-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url('index') }}">
                                <img src="{{ asset('assets/images/brand.png') }}">
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="jelb-top-menu">
                            <ul class="nav navbar-nav">
                                <li class="home {% if app.request.get('_route') == 'index' %} active{% endif %}"><a href="{{ url('index') }}">{% trans into app.request.Locale %}menu.home{% endtrans %}</a></li>
                                <li class="theme {% if app.request.get('_route') == 'theme' %} active{% endif %}"><a href="{{ url('theme') }}">{% trans into app.request.Locale %}menu.theme{% endtrans %}</a></li>
                                <li class="dropdown information {% if app.request.get('_route') == 'information' or app.request.get('_route') == 'train' %} active{% endif %}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans into app.request.Locale %}menu.information{% endtrans %} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li{% if app.request.get('_route') == 'information' %} class="active"{% endif %}><a href="{{ url('information') }}">{% trans into app.request.Locale %}menu.information{% endtrans %}</a></li>
                                        {#<li><a href="{{ url('theme') }}">{% trans into app.request.Locale %}menu.theme{% endtrans %}</a></li>#}
                                        <li{% if app.request.get('_route') == 'train' %} class="active"{% endif %}><a href="{{ url('train') }}">{% trans into app.request.Locale %}menu.train{% endtrans %}</a></li>
                                    </ul>
                                </li>
                                <li class="registration {% if app.request.get('_route') == 'subscribers' or app.request.get('_route') == 'registration' %} active{% endif %}"><a href="{{ url('subscribers') }}">{% trans into app.request.Locale %}menu.registration{% endtrans %}</a></li>
                                <li class="attraction{% if app.request.get('_route') == 'attraction' %} active{% endif %}"><a href="{{ url('attraction') }}">{% trans into app.request.Locale %}menu.attraction{% endtrans %}</a></li>
                                <li class="contact {% if app.request.get('_route') == 'contact' %} active{% endif %}"><a href="{{ url('contact') }}">{% trans into app.request.Locale %}menu.contact{% endtrans %}</a></li>
                            </ul>

                            <div class="navbar-text navbar-login hidden-xs hidden-sm">
                                {% if app.user is not null %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {% set loginUrl =  url('admin_index') %}
                                    {% else %}
                                        {% set loginUrl =  url('subscribe_area') %}
                                    {% endif %}
                                {% else %}
                                    {% set loginUrl =  url('login') %}
                                {% endif %}
                                <a href="{{ loginUrl }}">
                                    <span class="fa-stack fa-lg" aria-hidden="true">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    </span>

                                    {% if app.user is not null %}
                                        {{ app.user.Name | split(" ") | first }}
                                    {% else %}
                                        {% trans into app.request.Locale %}sidebar.access.title{% endtrans %}
                                    {% endif %}
                                </a>
                                {% if app.user is not null %}
                                    - <a href="{{ url('logout') }}" style="font-size: 9pt;"><small>{% trans into app.request.Locale %}general.logout{% endtrans %}</small></a>
                                {% endif %}
                            </div>

                            <div class="navbar-text navbar-locale hidden-xs hidden-sm">
                                <div class="btn-group-vertical" role="group">
                                    {# <a href="{{ url('change_locale', {'locale': 'en'}) }}" class="btn btn-default btn-sm{% if app.request.Locale == 'en' %} active{% endif %}">ENG</a> #}
                                    <a href="{{ url('change_locale', {'locale': 'es'}) }}" class="btn btn-default btn-sm{% if app.request.Locale == 'es' %} active{% endif %}">ESP</a>
                                    <a href="{{ url('change_locale', {'locale': 'pt_BR'}) }}" class="btn btn-default btn-sm{% if app.request.Locale | lower == 'pt_br' %} active{% endif %}">PT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <div id="wrapper" class="clearfix container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="col-md-3">
                        <img src="{{ asset('assets/images/footer/logo.png') }}" class="logo" />
                    </div>
                    <div class="col-md-5">
                        <img src="{{ asset('assets/images/home/home-theme-part-2-'~ app.request.Locale ~'.png') }}" class="text" />
                    </div>
                    <div class="col-md-4">
                        <img class="sponsor" src="{{ asset('/assets/images/home/home-theme-500.png') }}" />
                        <img class="sponsor" src="{{ asset('/assets/images/home/home-theme-jelb.png') }}" />
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/javascripts/jquery-1.12.3.min.js') }}"></script>
            <script src="{{ asset('assets/javascripts/bootstrap.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/plugins/jquery.maskMoney.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/plugins/jquery.maskedinput.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/javascripts/general.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>