footer {
    @include border-radius(0px);
    background: #C2C2C2;
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid #BAB8B6;
    
    img {
        &.logo {
            width: 80px;
        }

        &.text {
            width: 200px;
            margin-top: 6px;
            margin-left: 0px;
        }
    }
}