.navbar-locale {
    a.btn {
        border-top: 0px;
        color: #999;
        font-weight: bold;
        border-radius: 0px;
        padding: 4px 0px;

        &.active, &:focus, &:hover {
            background: #444242;
            color: #fff;
        }
    }
}

.navbar {
    background-color: #fff;
    border-color: #BAB8B6;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0px;

    .container {
        .navbar-collapse, .navbar-form {
            border-color: #BAB8B6;
        }

        .navbar-header {
            .navbar-toggle {
                float: left;
                margin-left: 15px;
            }
            
            .navbar-login {
                font-family: 'Roboto', sans-serif;
                float: right;
                background: #eee;
                border: 1px solid #BAB8B6;
                border-width: 0px 1px 0px 1px;
                margin: 0px 0px 0px 8px;
                display: inline-block;
                padding: 6px 18px 6px 18px;
                letter-spacing: -25%;

                a {
                    color: #959494;

                    &:hover, &:focus {
                        text-decoration: none;
                        color: #333;
                    }
                }
            }
        }

        .navbar-nav {
            li {
                background: #fff;

                a {
                    font-family: 'Roboto', sans-serif;
                    color: #636262;
                    padding: 12px 0px;
                    text-align: center;
                    text-transform: uppercase;
                    size: 16px;
                    letter-spacing: -25%;
                }

                &.active {
                    a, a:hover, a:focus {
                        color: #fff;
                    }
                }

                &.home {
                    border-color: #F9BD00;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #F9BD00;
                        color: #fff;
                    }
                }

                &.theme {
                    border-color: #006F40;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #006F40;
                        color: #fff;
                    }
                }

                &.information {
                    border-color: #E4162A;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #E4162A;
                        color: #fff;
                    }
                }

                &.registration {
                    border-color: #4BA830;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #4BA830;
                        color: #fff;
                    }
                }

                &.attraction {
                    border-color: #001D62;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #001D62;
                        color: #fff;
                    }
                }

                &.contact {
                    border-color: #0096BD;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #0096BD;
                        color: #fff;
                    }
                }
            }
        }
    }
}
