{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{% if null != id %}Editar texto{% else %}Adicionar novo texto{% endif %} - Conteúdo{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Textos<small> - Criação/edição</small></h1>
    </div>

    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <form action="{{ ( id != null ? url('admin_content_text_edit', {'id': id}) : url('admin_content_text_create') ) }}" method="post">
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group{% if form.Page.vars.errors | length %} has-error{% endif %}">
                <label>Página</label>
                {{ form_widget(form.Page, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            
            <div class="col-md-6 col-sm-12 form-group{% if form.Language.vars.errors | length %} has-error{% endif %}">
                <label>Idioma</label>
                {{ form_widget(form.Language, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12 form-group{% if form.Content.vars.errors | length %} has-error{% endif %}">
                <label>Conteúdo</label>
                {{ form_widget(form.Content, { 'attr': { 'class': 'form-control trigger-wysiwyg', 'rows': 16 } }) }}
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
        
    <h2>Imagens que podem ser adicionadas</h2>
    {% include "AdminBundle:Image:list.html.twig" with {"showUrl": true} %}
{% endblock %}