{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Textos - Conteúdo{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Textos</h1>
    </div>
    
    <div class="well" style="padding-bottom: 4px;">
        <form action="{{ url('admin_content_text') }}" method="get">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="sr-only" to="field-page">Página</label>
                        <select class="form-control" name="local" id="field-page">
                            <option value="">Página</option>
                            {% for page in pages %}
                                <option value="{{ page.Id }}"{% if pageId == page.Id %} selected="selected"{% endif %}>{{ page.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="sr-only" to="field-language">Idioma</label>
                        <select class="form-control" name="idioma" id="field-language">
                            <option value="">Idioma</option>
                            {% for language in languages %}
                                <option value="{{ language.Id }}"{% if languageId == language.Id %} selected="selected"{% endif %}>{{ language.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
                    <a href="{{ url('admin_content_text') }}" class="btn btn-danger"><i class="fa fa-remove"></i> Limpar</a>
                    <a href="{{ url('admin_content_text_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar texto</a>
                </div>
            </div>
        </form>
    </div>
                    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="active col-md-4">Página</th>
                    <th class="active col-md-4">Idioma</th>
                    <th class="active col-md-4"></th>
                </tr>
                {% for text in texts %}
                    <tr>
                        <td>{{ text.Page.Name }}</td>
                        <td>{{ text.Language.Name }}</td>
                        <td class="text-center">
                            <a href="{{ url('admin_content_text_edit', {'id': text.Id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Editar</a>
                            <a href="{{ url('admin_content_text_remove', {'id': text.Id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
                
    {% set reqQuery = app.request.query.all %}
    {% set paginator = texts %}
    {% if paginator is defined and paginator.haveToPaginate %}
        <nav>
            <ul class="pagination">
                {% if paginator.Page > 1 %}
                    <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for page in paginator.Links(5) %}
                    {%if page == paginator.page  %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.Page < paginator.LastPage %}
                    <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}