{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{% if null != id %}Editar tipo de inscrição{% else %}Adicionar novo tipo de inscrição{% endif %} - Configurações{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Tipos de inscrição<small> - Criação/edição</small></h1>
    </div>

    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <form action="{{ ( id != null ? url('admin_configuration_registrationtype_edit', {'id': id}) : url('admin_configuration_registrationtype_create') ) }}" method="post" novalidate>
        <div class="row">
            <div class="col-md-3 col-sm-12 form-group{% if form.NamePt.vars.errors | length %} has-error{% endif %}">
                <label>* Nome (Português)</label>
                {{ form_widget(form.NamePt, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            
            {#<div class="col-md-3 col-sm-12 form-group{% if form.NameEn.vars.errors | length %} has-error{% endif %}">
                <label>* Nome (Inglês)</label>
                {{ form_widget(form.NameEn, { 'attr': { 'class': 'form-control' } }) }}
            </div>#}
            
            <div class="col-md-3 col-sm-12 form-group{% if form.NameEs.vars.errors | length %} has-error{% endif %}">
                <label>* Nome (Espanhol)</label>
                {{ form_widget(form.NameEs, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        {#</div>
            
        <div class="row">#}
            <div class="col-md-3 col-sm-12 form-group{% if form.SpaceAvailable.vars.errors | length %} has-error{% endif %}">
                <label>Vagas <small class="text-muted">- Em branco caso não tenha limite</small></label>
                {{ form_widget(form.SpaceAvailable, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="col-md-3 col-sm-12 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                <label>Sexo</label>
                {{ form_widget(form.Genre, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
            
        <h2>Valores e datas</h2>
        <div id="prices">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary btn-sm trigger-add-new-item" data-ref="#prices" data-ajax="{{ url('admin_configuration_registrationtype_ajax_price', { 'id': id }) }}"><i class="fa fa-plus"></i> Adicionar</a>
                </div>
            </div>

            {% for item in form.Prices %}
                {% include "AdminBundle:SubscribeType:price.html.twig" %}
            {% endfor %}
        </div>
            
        {{ form_widget(form._token) }}
        
        <div class="row" style="margin-top: 14px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}