<div class="row item" style="margin-top: 14px;">
    <div class="col-md-12">
        <div class="well">
            {{ form_widget(item.Id) }}
            {{ form_widget(item.SubscribeTypeId) }}

            <div class="row">
                <div class="col-md-2 form-group{% if item.Start.vars.errors | length %} has-error{% endif %}">
                    <label>* Data inicial</label>
                    {{ form_widget(item.Start, { 'attr': { 'class': 'form-control trigger-mask-date' } }) }}
                </div>
                <div class="col-md-2 form-group{% if item.End.vars.errors | length %} has-error{% endif %}">
                    <label>Data final</label>
                    {{ form_widget(item.End, { 'attr': { 'class': 'form-control trigger-mask-date' } }) }}
                </div>
                <div class="col-md-2 form-group{% if item.Price.vars.errors | length %} has-error{% endif %}">
                    <label>* Valor (R$)</label>
                    {{ form_widget(item.Price, { 'attr': { 'class': 'form-control trigger-mask-money' } }) }}
                </div>
                <div class="col-md-2 form-group{% if item.Quota.vars.errors | length %} has-error{% endif %}">
                    <label>* Parcelas máximas</label>
                    {{ form_widget(item.Quota, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="col-md-2 form-group{% if item.InstallmentValue.vars.errors | length %} has-error{% endif %}">
                    <label>* Valor parcelado (R$)</label>
                    {{ form_widget(item.InstallmentValue, { 'attr': { 'class': 'form-control trigger-mask-money' } }) }}
                </div>
                <div class="col-md-2 text-center">
                    <a style="display: inline-block; margin-top: 22px;" href="#" class="btn btn-danger trigger-remove-item"><i class="fa fa-trash"></i> Remover</a>
                </div>
            </div>
        </div>
    </div>
</div>