<div id="internal-page" class="registration">
    <div class="title">
        <h1>{% trans into app.request.Locale %}title.registration{% endtrans %}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 content-text">
                {{ render(url('text_part', {'routeName': 'registration-first-text'})) }}

                {% if form is defined %}
                    <form action="{{ url(app.request.get('_route'), app.request.query.all) }}" method="post" novalidate>
                        <h2>{% trans into app.request.Locale %}form.title.personal{% endtrans %}</h2>
                        <div class="row">
                            <div class="col-md-6 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.email{% endtrans %}</label>
                                {{ form_widget(form.Email, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.Password.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.password{% endtrans %}</label>
                                {{ form_widget(form.Password, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.name{% endtrans %}</label>
                                {{ form_widget(form.Name, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.Birthday.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.birthday{% endtrans %}</label>
                                {{ form_widget(form.Birthday, { 'attr': { 'class': 'form-control input-lg trigger-mask-date' } }) }}
                            </div>
                        </div>

                        <div class="row">
                            {% if form.Document is defined %}
                                <div class="col-md-4 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.genre{% endtrans %}</label>
                                    {{ form_widget(form.Genre, { 'attr': { 'class': 'trigger-target-load form-control input-lg', 'data-target': '#trigger-registration-type', 'data-ajax': url('ajax_types') } }) }}
                                </div>

                                <div class="col-md-4 form-group{% if form.Register.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.register{% endtrans %}</label>
                                    {{ form_widget(form.Register, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>

                                <div class="col-md-4 form-group{% if form.Document.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.document{% endtrans %}</label>
                                    {{ form_widget(form.Document, { 'attr': { 'class': 'trigger-mask-cpf form-control input-lg' } }) }}
                                </div>
                            {% else %}
                                <div class="col-md-4 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.genre{% endtrans %}</label>
                                    {{ form_widget(form.Genre, { 'attr': { 'class': 'trigger-target-load form-control input-lg', 'data-target': '#trigger-registration-type', 'data-ajax': url('ajax_types') } }) }}
                                </div>

                                <div class="col-md-6 form-group{% if form.Register.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.register{% endtrans %}</label>
                                    {{ form_widget(form.Register, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.phone{% endtrans %}</label>
                                {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control input-lg' ~ ( app.request.Locale == 'pt_BR' ? ' trigger-mask-phone' : '' ) } }) }}
                            </div>
                        </div>

                        <h2>{% trans into app.request.Locale %}form.title.address{% endtrans %}</h2>
                        <div class="row clearfix">
                            <div class="col-md-6 form-group{% if form.Country.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.country{% endtrans %}</label>
                                {{ form_widget(form.Country, { 'attr': { 'class': 'trigger-target-load form-control input-lg', 'data-target': '#trigger-state', 'data-text': '#trigger-payment-text', 'data-ajax': url('ajax_states') } }) }}
                            </div>

                            {% if form.State is defined %}
                                <div class="col-md-6 form-group{% if form.State.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.state{% endtrans %}</label>
                                    {{ form_widget(form.State, { 'id': 'trigger-state', 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6 form-group{% if form.City.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.city{% endtrans %}</label>
                                {{ form_widget(form.City, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.Region.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.region{% endtrans %}</label>
                                {{ form_widget(form.Region, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8 form-group{% if form.Address.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.address{% endtrans %}</label>
                                {{ form_widget(form.Address, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.Number.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.number{% endtrans %}</label>
                                {{ form_widget(form.Number, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <div class="row clearfix">
                            {% if form.Complement is defined %}
                                <div class="col-md-8 form-group{% if form.Complement.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">Complemento</label>
                                    {{ form_widget(form.Complement, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>
                            {% endif %}

                            <div class="col-md-4 form-group{% if form.ZipCode.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.zipcode{% endtrans %}</label>
                                {{ form_widget(form.ZipCode, { 'attr': { 'class': 'form-control input-lg' ~ ( app.request.Locale == 'pt_BR' ? ' trigger-mask-zipcode' : '' ) } }) }}
                            </div>
                        </div>

                        <h2>{% trans into app.request.Locale %}form.title.general{% endtrans %}</h2>
                        <div class="row clearfix">
                            <div class="col-md-12 form-group{% if form.Visitor.vars.errors | length %} has-error{% endif %}">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(form.Visitor) }}
                                        {% if app.request.Locale == 'es' %}
                                            Soy visitante
                                        {% else %}
                                            Sou visitante
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6 form-group{% if form.Member.vars.errors | length %} has-error{% endif %}">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(form.Member) }}
                                        {% trans into app.request.Locale %}form.label.member{% endtrans %}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 form-group{% if form.Confirmed.vars.errors | length %} has-error{% endif %}">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(form.Confirmed) }}
                                        {% trans into app.request.Locale %}form.label.confirmed{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group{% if form.Minister.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.minister{% endtrans %}</label>
                                {{ form_widget(form.Minister, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.UnityName.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.unity{% endtrans %}</label>
                                {{ form_widget(form.UnityName, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <div class="row clearfix">
                            {% if form.District is defined %}
                                <div class="col-md-6 form-group{% if form.District.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.district{% endtrans %}</label>
                                    {{ form_widget(form.District, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>
                            {% endif %}

                            <div class="col-md-6 form-group{% if form.DisplacementId.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.displacement{% endtrans %}</label>
                                {{ form_widget(form.DisplacementId, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <div class="row clearfix">
                            {% if form.TrainResponsible is defined %}
                                <div class="col-md-12 form-group{% if form.TrainResponsible.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.trainresponsible{% endtrans %}</label>
                                    {{ form_widget(form.TrainResponsible, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                </div>
                            {% endif %}
                        </div>

                        <h2 class="clearfix">{% trans into app.request.Locale %}form.title.typeandpayment{% endtrans %}</h2>
                        <div class="well" id="trigger-payment-text">
                            {{ render(url('text_part', {'routeName': 'registration-payment'})) }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group{% if form.SubscribeTypeId.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.subscribetype{% endtrans %}</label>
                                {{ form_widget(form.SubscribeTypeId, { 'id': 'trigger-registration-type', 'attr': { 'class': 'trigger-target-load form-control input-lg', 'data-target': '#trigger-quota', 'data-ajax': url('ajax_quota') } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.Quota.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.quota{% endtrans %}</label>
                                {{ form_widget(form.Quota, { 'id': 'trigger-quota', 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <h2 class="clearfix">{% trans into app.request.Locale %}form.title.other{% endtrans %}</h2>
                        <div class="row">
                            <div class="col-md-6 form-group{% if form.SpecialNeed.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.specialneed{% endtrans %}</label>
                                {{ form_widget(form.SpecialNeed, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.Comment.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.comments{% endtrans %}</label>
                                {{ form_widget(form.Comment, { 'attr': { 'class': 'form-control input-lg' } }) }}
                            </div>
                        </div>

                        <h2 class="clearfix">{% trans into app.request.Locale %}form.title.terms{% endtrans %}</h2>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="form-control input-lg" style="height: 200px; font-size: 12px !important; overflow: auto;">
                                    {{ render(url('text_part', {'routeName': 'registration-terms'})) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group{% if form.Terms.vars.errors | length %} has-error{% endif %}">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(form.Terms) }}
                                        {% trans into app.request.Locale %}form.label.terms{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>

                        {{ form_widget(form._token) }}

                        <button type="submit" class="btn btn-lg btn-success">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>