<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('/assets/images/favicon.png') }}" rel="shortcut icon" type="image/png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>{% block title %}Início{% endblock %} - Área administrativa</title>

        {% block stylesheets %}
            <link href="{{ asset('assets/css/application.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.min.css') }}" />
        {% endblock %}
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-76604331-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('admin_index') }}">Administração</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li{% if app.request.get('_route') starts with 'admin_index' %} class="active"{% endif %}><a href="{{ url('admin_index') }}">Início</a></li>
                            <li{% if app.request.get('_route') starts with 'admin_content' %} class="active"{% endif %}>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conteúdo <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li{% if app.request.get('_route') starts with 'admin_content_text' %} class="active"{% endif %}><a href="{{ url('admin_content_text') }}">Textos</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_content_image' %} class="active"{% endif %}><a href="{{ url('admin_content_image') }}">Imagens</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_content_notice' %} class="active"{% endif %}><a href="{{ url('admin_content_notice') }}">Notícias</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_content_district' %} class="active"{% endif %}><a href="{{ url('admin_content_district') }}">Distritos</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_content_paymenttext' %} class="active"{% endif %}><a href="{{ url('admin_content_paymenttext') }}">Textos - Pagamento por país</a></li>
                                </ul>
                            </li>
                            <li{% if app.request.get('_route') starts with 'admin_subscribe' %} class="active"{% endif %}>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscrições <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li{% if app.request.get('_route') starts with 'admin_subscribe_subscribe' %} class="active"{% endif %}><a href="{{ url('admin_subscribe_subscribe') }}">Inscritos</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_subscribe_problem' %} class="active"{% endif %}><a href="{{ url('admin_subscribe_problem') }}">Problemas de pagamento</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_subscribe_payment' %} class="active"{% endif %}><a href="{{ url('admin_subscribe_payment') }}">Retorno de pagamento</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_subscribe_payment_send' %} class="active"{% endif %}><a href="{{ url('admin_subscribe_payment_send') }}">Arquivo de remessa</a></li>
                                    {# <li><a href="#">Caravanas</a></li> #}
                                </ul>
                            </li>
                            <li{% if app.request.get('_route') starts with 'admin_configuration' %} class="active"{% endif %}>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurações <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li{% if app.request.get('_route') starts with 'admin_configuration_configuration' %} class="active"{% endif %}><a href="{{ url('admin_configuration_configuration') }}">Configurações</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_configuration_user' %} class="active"{% endif %}><a href="{{ url('admin_configuration_user') }}">Usuários</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_configuration_registrationtype' %} class="active"{% endif %}><a href="{{ url('admin_configuration_registrationtype') }}">Tipos de inscrição</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_configuration_log' %} class="active"{% endif %}><a href="{{ url('admin_configuration_log') }}">Log de geração de pagamento</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_configuration_workshop' %} class="active"{% endif %}><a href="{{ url('admin_configuration_workshop') }}">Oficinas</a></li>
                                </ul>
                            </li>
                            <li{% if app.request.get('_route') starts with 'admin_report' %} class="active"{% endif %}>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li{% if app.request.get('_route') starts with 'admin_report_general' %} class="active"{% endif %}><a href="{{ url('admin_report_general') }}">Geral</a></li>
                                    <li{% if app.request.get('_route') starts with 'admin_report_financial' %} class="active"{% endif %}><a href="{{ url('admin_report_financial') }}">Financeiro</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.Name | split(" ") | first }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {# <li><a href="#">Alterar senha</a></li>
                                    <li role="separator" class="divider"></li> #}
                                    <li><a href="{{ url('logout') }}">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/javascripts/jquery-1.12.3.min.js') }}"></script>
            <script src="{{ asset('assets/javascripts/bootstrap.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/plugins/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.all.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/bootstrap3-wysiwyg/src/locales/bootstrap-wysihtml5.pt-BR.js') }}"></script>
            <script src="{{ asset('assets/plugins/bootstrap3-wysiwyg/src/generated/commands.js') }}"></script>
            <script src="{{ asset('assets/plugins/jquery.maskMoney.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/plugins/jquery.maskedinput.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/javascripts/general.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/javascripts/admin/general.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>