#wrapper {
    margin-top: 72px;
    padding-left: 0px;
    padding-right: 0px;
    
    #home {
        .theme {
            background: url('/assets/images/home/home-theme.png');
            background-position: center center;
            background-size: 100%;

            .container {
                width: 100%;
                background: url('/assets/images/home/home-theme-part-1-background.png');
                margin: 0px auto;
                background-position: center -72px;
                padding-bottom: 25px;

                .theme-part {
                    margin-top: 54px;

                    .theme-jelb-img {
                        margin-left: 20px;
                        padding: 4.5px 4px;
                        background: url('/assets/images/home/home-theme-jelb-background.png');
                    }
                    
                    .theme-jelpa-img {
                        margin-left: 20px;
                        padding-bottom: 4px;
                    }
                    
                    .theme-joven-img {
                        margin-left: 20px;
                        padding-bottom: 11px;
                    }
                }
            }
        }

        .first-registration-bar {
            background: #e9bc00;

            .container {
                padding: 25px 0px;

                .link {
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: bold;
                    background: #fff;
                    font-family: 'Roboto', sans-serif;
                    color: #c18019;
                    font-size: 20pt;
                    padding: 18px 50px;
                    @include border-radius(30px);
                    display: inline-block;
                }
            }
        }

        .first-information-bar {
            background: url('/assets/images/home/home-information-background.png');
            background-size: 100%;

            .container {
                padding: 0px;

                img {
                    border: 2px solid #fff;
                    margin: 35px 0px;

                    &.first-image {
                        padding: 12px 63px;
                    }

                    &.second-image {
                        padding: 11px 77px;
                        margin-left: 45px;
                    }
                }
            }
        }

        .first-text-bar {
            height: 650px;
            background: url('/assets/images/home/first-text-background-left.png');
            background-repeat: no-repeat;
            background-position: -180px -120px;
            
            h1 {
                font-weight: 700;
                font-size: 30px;
            }
            
            p {
                font-weight: 100;
            }
            
            .emailBoasVindas {
                font-style: italic;
                padding: 5px;
                background-color: #3FA7C4;
                color: #fff;
                width: 265px;
                text-align: center;
            }

            .content-text {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 14pt;
                line-height: 24pt;
                margin-top: 70px;
            }
        }

        .text-interception {
            margin-top: 75px;
            font-family: 'Roboto Condensed', sans-serif;
            color: #9a999e;
            font-size: 21pt;
            text-transform: uppercase;
            line-height: 36pt;
        }

        .second-information-bar {
            background: url('/assets/images/home/home-city-view.png');
            background-repeat: no-repeat;
            background-size: 100%;
            margin-top: 190px;

            .container {
                position: relative;

                .map-marker {
                    left: 0px;
                    background: url('/assets/images/home/home-map-marker.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: -110px;
                    margin: 0px auto;
                    width: 100%;
                    height: 278px;
                }

                .map-marker-text {
                    left: 0px;
                    background: url('/assets/images/home/home-map-marker-text.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: -20px;
                    margin: 0px auto;
                    width: 100%;
                    height: 278px;
                }

                .content-text {
                    margin-top: 195px;
                    margin-bottom: 80px;
                    background: #fff;
                    padding: 20px 30px;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 14pt;
                    line-height: 20pt;
                    text-align: justify;
                }
            }
        }

        .sponsor {
            display: none;
            margin-top: 30px;

            .title {
                text-transform: uppercase;
                font-style: italic;
                font-weight: bold;
                font-family: 'Roboto Condensed', sans-serif;
                color: #9a999e;
                font-size: 20pt;
            }
        }
    }
    
    #internal-page {
        .title {
            text-align: center;
            padding: 60px 0px;

            h1 {
                padding: 0px;
                margin: 0px;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Roboto Condensed', sans-serif;
                color: #fff;
                font-size: 60pt;
            }
        }
        
        .container {
            margin-top: 50px;
            
            .content-text {
                font-family: 'Roboto Condensed', sans-serif;

                h1 {
                    font-size: 34px;
                    font-weight: bold;
                }
                h2 {
                    font-size: 30px;
                    font-weight: bold;
                }
                h3 {
                    font-size: 26px;
                    font-weight: bold;
                }
                h4 {
                    font-size: 22px;
                    font-weight: bold;
                }
                h5 {
                    font-size: 18px;
                    font-weight: bold;
                }
                strong, b {
                    font-weight: bold;
                }
                p {
                    line-height: 18pt;
                    font-size: 14pt;
                }
                small {
                    font-size: 10pt;
                }
                em {
                    font-style: italic;
                }
            }
        }
        
        &.theme {
            .title {
                background: #138c56;
            }
        }
        
        &.attraction {
            .title {
                background: #0c2261;
            }
        }
        
        &.information {
            .title {
                background: #c21c2f;
            }
        }
        
        &.contact,
        &.donation {
            .container {
                font-family: 'Roboto Condensed';
                
                .has-error {
                    .btn {
                        border-color: #a94442;
                    }
                }
            }
            
            .user-name {
                font-style: normal;
                color: #636262;
                
                .fa-stack {
                    float: left;
                    margin-right: 20px;
                    background: url('/assets/images/home/first-text-background-left.png');
                    background-position: -60px -80px;
                    @include border-radius(44px);
                    margin-top: -10px;
                }

                .btn {
                    &.btn-logout {
                        padding: 4px 20px;
                        margin-top: 10px;
                        background: #c21c2f;
                        color: #fff;
                        @include border-radius(14px);
                    }
                }
            }

            .title {
                background: #2195b8;
            }
            
            .second-text {
                color: #fff;
                background: #36aacd;
                padding: 20px;
                @include border-radius(10px);
            }
        }
        
        &.subscribe-area {
            color: #636262;

            .title {
                background: url('/assets/images/subscribe-area/title-bar.jpg');
                background-repeat: no-repeat;
                background-position: center center;
            }
            
            .well {
                line-height: 18pt;
                
                .row {
                    margin-top: 16px;

                    &:first-child {
                        margin-top: 0px;
                    }
                }
            }
            
            .btn-train, .btn-transfer {
                padding: 4px 20px;
                margin-top: 10px;
                color: #fff;
                @include border-radius(14px);
                    
                &.btn-train-list {
                    background: #006F40;
                }
                
                &.btn-transfer-register {
                    background: #eea236;
                }
                
                &.btn-train-register {
                    background: #001D62;
                }
            }
            
            .panel-payment {
                border-color: #c21c2f;
                
                .alert {
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    margin-top: 16px;
                    margin-left: -16px;
                    margin-right: -16px;
                    @include border-radius(0px);
                }
                
                .price {
                    font-size: 24pt;
                    margin-top: 10px;
                    font-weight: bold;
                    display: block;
                }

                &.panel-danger {
                    .alert {
                        background: #c21c2f;
                    }
                    
                    .price {
                        color: #c21c2f;
                    }
                }
                &.panel-success {
                    border-color: #4BA830;

                    .alert {
                        background: #4BA830;
                    }
                    
                    .price {
                        color: #4BA830;
                    }
                }
            }
            
            .user-name {
                font-style: normal;
                color: #636262;
                
                .fa-stack {
                    float: left;
                    margin-right: 20px;
                    background: url('/assets/images/home/first-text-background-left.png');
                    background-position: -60px -80px;
                    @include border-radius(44px);
                    margin-top: -10px;
                }

                .btn {
                    &.btn-logout {
                        padding: 4px 20px;
                        margin-top: 10px;
                        background: #c21c2f;
                        color: #fff;
                        @include border-radius(14px);
                    }
                    
                    &.btn-edit {
                        padding: 4px 20px;
                        margin-top: 10px;
                        background: #0096BD;
                        color: #fff;
                        @include border-radius(14px);
                    }
                }
            }
        }
        
        &.registration {
            .title {
                background: #6fa83c;
            }
            
            h2 {
                font-weight: bold;
                font-size: 22pt;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            
            .stats {
                padding: 20px 0;
                
                .container {
                    margin-top: 0px;
                    
                    h1 {
                        margin: 0px 0px 20px 0px;
                    }
                    
                    .panel {
                        &.panel-success {
                            font-family: 'Roboto', sans-serif;
                            border: 0px;
                            @include border-radius(0px);

                            .panel-heading {
                                border: 0px;
                                @include border-radius(0px);
                                background: #6fa83c;
                                color: #fff;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            
                            .panel-body {
                                @include border-radius(0px);
                                border: 2px solid #ccc;
                                border-top: 0px;
                                padding: 10px;
                                font-size: 16pt;
                                font-weight: bold;
                                color: #6fa83c;
                                
                                .number {
                                    color: #4BA830;
                                    font-size: 52pt;
                                }
                            }
                        }
                    }
                    
                    .country-item {
                        margin-left: 20px;
                        @include border-radius(50px);
                        padding: 28px;
                        width: 100px;
                        height: 100px;
                        border: 2px solid #ccc;
                        color: #6fa83c;
                        
                        strong {
                            color: #4BA830;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            
            .first-registration-bar {
                background: #6fa83c;

                .container {
                    padding: 18px 0px;

                    .link {
                        text-transform: uppercase;
                        font-style: italic;
                        font-weight: bold;
                        background: #fff;
                        font-family: 'Roboto', sans-serif;
                        color: #6fa83c;
                        font-size: 16pt;
                        padding: 14px 40px;
                        @include border-radius(30px);
                        display: inline-block;
                    }
                }
            }
        }
    }
}

ul.listTipoInscricaoPagamento {	
    list-style-type: disc;
    font-size: 14px;
    margin-left: 10px;
}
ul.listTipoInscricaoPagamento li {	
	padding: 3px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #4BA830;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #4BA830;
    border-color: rgb(77, 125, 64);
    cursor: default;
}