footer {
    @include border-radius(0px);
    background: #C2C2C2;
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid #BAB8B6;
    
    img {
        &.text {
            margin-top: 20px;
            margin-left: 0px;
        }
        
        &.sponsor {
            margin-top: 20px;
            margin-left: 20px;
        }
    }
}