@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900italic,900|Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100,100italic|Roboto+Condensed:400,300,300italic|Roboto+Slab:400,700,300,100);

.btn {
    &.btn-default {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.1em;

        &.active, &:focus, &:hover {
            background: #444242;
            color: #fff;
        }
    }
    
    &.btn-primary {
        background: #2195b8;
        
        &.active, &:focus, &:hover {
            background: #237E99;
        }
    }
    
    &.btn-success {
        background: #4BA830;
        
        &.active, &:focus, &:hover {
            background: #40872B;
        }
    }
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: inherit;
}

.form-control {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}