.navbar {
    background-color: #fff;
    border-color: #BAB8B6;

    .container {
        .navbar-header {
            .navbar-brand {
                padding: 8px 27px 0px 18px;
            }
        }

        .navbar-nav {
            li {
                border-bottom: 2px solid;
                background: #fff;

                a {
                    font-family: 'Roboto', sans-serif;
                    color: #636262;
                    padding: 46px 12px 6px 12px;
                    text-align: center;
                    text-transform: uppercase;
                    size: 16px;
                    letter-spacing: -25%;
                }
                
                &.active {
                    a, a:hover, a:focus {
                        color: #fff;
                    }
                }
                
                &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                    -webkit-transition: background 0.8s;
                    -moz-transition: background 0.8s;
                    -o-transition: background 0.8s;
                    transition: background 0.8s;
                }

                &.home {
                    border-color: #F9BD00;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #F9BD00;
                        color: #fff;
                    }
                }

                &.theme {
                    border-color: #006F40;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #006F40;
                        color: #fff;
                    }
                }

                &.information {
                    border-color: #E4162A;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #E4162A;
                        color: #fff;
                    }
                }

                &.registration {
                    border-color: #4BA830;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #4BA830;
                        color: #fff;
                    }
                }

                &.attraction {
                    border-color: #001D62;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #001D62;
                        color: #fff;
                    }
                }

                &.contact {
                    border-color: #0096BD;

                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #0096BD;
                        color: #fff;
                    }
                }
                
                .dropdown-menu li {
                    border-bottom: 0px;
                    
                    a {
                        padding: 6px 12px 6px 12px;
                        background: #fff !important;
                        color: #636262 !important;
                    }
                    
                    &.active a, &.active a:hover, &.active a:focus, a:hover, a:focus {
                        background-color: #E4162A !important;
                        color: #fff !important;
                    }
                }
            }
        }

        .navbar-text {
            margin: 0px 0px 0px 8px;
            display: inline-block;
            height: 73px;
            font-family: 'Roboto Condensed', sans-serif;

            &.navbar-login {
                background: #eee;
                border: 1px solid #BAB8B6;
                border-width: 1px 1px 0px 1px;
                margin: 0px 0px 0px 8px;
                display: inline-block;
                padding: 17px 18px 20px 18px;
                height: 73px;
                letter-spacing: -25%;

                a {
                    color: #959494;

                    &:hover, &:focus {
                        text-decoration: none;
                        color: #333;
                    }
                }
            }

            &.navbar-locale {
                margin-left: -1px;
                position: absolute;

                a.btn {
                    color: #999;
                    font-weight: bold;
                    border-radius: 0px;
                    padding: 2.6px 12px;

                    &.active, &:focus, &:hover {
                        background: #444242;
                        color: #fff;
                    }
                }
            }
        }
    }
}
