{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Retorno de Pagamentos - Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Retorno de Pagamentos</h1>
    </div>
    
    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <div class="well" style="padding-bottom: 4px;">
        <form action="{{ url('admin_subscribe_payment') }}" method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group{% if form.File.vars.errors | length %} has-error{% endif %}">
                        <label class="sr-only" to="field-page">Arquivo de retorno (.ret)</label>
                        {{ form_widget(form.File, { 'attr': { 'class': 'form-control', 'style': 'padding: 0px;' } }) }}
                    </div>
                </div>
                    
                {{ form_rest(form) }}
                    
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Enviar</button>
                </div>
            </div>
        </form>
    </div>
                
    {% if paids is defined %}
        <table class="table table-bordered">
            <tr>
                <th>Inscrito</th>
                <th>Valor</th>
            </tr>
            {% for item in paids %}
                <tr>
                    <td>{{ item.Subscribe.Name }}</td>
                    <td>{{ item.Price | number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}