<h1 class="user-name">
    <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ app.user.Name }}<br />
    <a href="{{ url('logout') }}" class="btn btn-logout">{% trans into app.request.Locale %}general.logout{% endtrans %}</a>
    <a href="{{ url('subscribe_area_edit') }}" class="btn btn-edit">{% trans into app.request.Locale %}general.edit{% endtrans %}</a>
</h1>