{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.subscribearea{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.subscribearea{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'AppBundle:SubscribeArea:header.html.twig' %}
                        </div>
                    </div>

                    {% if app.request.get('_route') == 'subscribe_area' %}
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <a href="{{ url('train') }}" class="btn btn-train btn-train-list btn-lg">{% trans into app.request.Locale %}text.subscribearea.train.list{% endtrans %}</a>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <a href="{{ url('subscribe_area_train') }}" class="btn btn-train btn-train-register btn-lg">{% trans into app.request.Locale %}text.subscribearea.train.register{% endtrans %}</a>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <a href="{{ url('subscribe_area_transfer') }}" class="btn btn-transfer btn-transfer-register btn-lg">{% trans into app.request.Locale %}text.subscribearea.require.transfer{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if paymentText is not null %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ paymentText | raw }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row" style="margin-top: 16px;">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.mysbscription{% endtrans %}</strong>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-6">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.number{% endtrans %}</strong><br />
                                                {{ subscribeNumber }}
                                            </div>
                                            <div class="col-md-6">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.date{% endtrans %}</strong><br />
                                                {{ subscribe.Date | date("d/m/Y H:i") }}
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.email{% endtrans %}</strong><br />
                                                {{ app.user.Email }}
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.fullname{% endtrans %}</strong><br />
                                                {{ subscribe.Name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body text-center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.subscribetype{% endtrans %}</strong>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <strong style="font-size: 18pt;">{{ subscribeTypeName }}</strong><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel-payment panel panel-{% if openedPayment > 0 or canceled.Cancel == 1 %}danger{% else %}success{% endif %}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <strong>{% trans into app.request.Locale %}text.subscribearea.payment{% endtrans %}</strong>
                                            </div>
                                        </div>

                                        <div class="alert">
                                            {% if openedPayment > 0 or canceled.Cancel == 1 %}
                                                {% trans into app.request.Locale %}text.subscribearea.payment.pendent{% endtrans %}
                                            {% else %}
                                                {% trans into app.request.Locale %}text.subscribearea.payment.paid{% endtrans %}
                                            {% endif %}
                                        </div>

                                        {% if openedPayment > 0 or canceled.Cancel == 1 %}
                                            {% if canceled.Cancel == 1 and openedPayment is null %}
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        Não foi possível identificar o pagamento da sua primeira parcela e sua inscrição está cancelada.
                                                    </div>
                                                </div>
                                            {% elseif openedPayment > 0 %}
                                                {% if nextPayment is not null %}
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            {% trans into app.request.Locale %}text.subscribearea.payment.pendent.text{% endtrans %}:
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            Aguarde a geração da sua próxima parcela.
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            {% if openedPayment > 0 %}
                                                {% if nextPayment is not null %}
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <span class="price">R$ {{ nextPayment.Price | number_format(2, ",", ".") }}</span>
                                                        </div>
                                                    </div>
                                                    {% if subscribe.CountryId == 30 %}
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                Vencimento:
                                                                <strong>{{ nextPayment.DueDate | date("d/m/Y") }}</strong>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <span class="price">R$ {{ (subscribe.Price - subscribe.getPaidPrice()) | number_format(2, ",", ".") }}</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            {% if subscribe.CountryId == 30 %}
                                                {% if canceled.Cancel == 1 and nextPayment is null %}
                                                    <div class="row" style="margin-top: 16px;">
                                                        <div class="col-md-12 text-center">
                                                            <a class="btn btn-default" href="{{ url('subscribe_area_reactive') }}">{% trans into app.request.Locale %}Reativar inscrição{% endtrans %}</a>
                                                        </div>
                                                    </div>
                                                {% elseif nextPayment is not null %}
                                                    <div class="row" style="margin-top: 16px;">
                                                        <div class="col-md-12 text-center">
                                                            <a class="btn btn-default" href="/boleto/index.php?id={{ nextPayment.Id }}" target="_blank">{% trans into app.request.Locale %}text.subscribearea.payment.pendent.generate{% endtrans %}</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {# FORMAS DE PAGAMENTO PARA ESTRANGEIROS #}
                                            {% endif %}
                                        {% else %}
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <span class="price">R$ {{ subscribe.Price | number_format(2, ",", ".") }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% for label, flashes in app.session.flashbag.all %}
                            {% if label in ['success', 'warning', 'error', 'danger'] %}
                                {% for flash in flashes %}
                                    <div class="alert alert-{{ label }}" style="margin-top: 40px;">
                                        {{ flash | trans({}, null, app.request.Locale) }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        
                        <form action="{{ url('subscribe_area_edit') }}" method="post" novalidate style="margin-top: 32px;">
                            <h2 style="margin-bottom: 16px;">{% trans into app.request.Locale %}form.title.personal{% endtrans %}</h2>
                            <div class="row">
                                <div class="col-md-6 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.email{% endtrans %}</label>
                                    {{ form_widget(form.Email, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                                
                                <div class="col-md-6 form-group{% if form.Password.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.changepassword{% endtrans %}</label>
                                    {{ form_widget(form.Password, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.name{% endtrans %}</label>
                                    {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
                                </div>

                                <div class="col-md-4 form-group{% if form.Birthday.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.birthday{% endtrans %}</label>
                                    {{ form_widget(form.Birthday, { 'attr': { 'class': 'form-control trigger-mask-date' } }) }}
                                </div>
                            </div>

                            <div class="row">
                                {% if form.Document is defined %}
                                    <div class="col-md-4 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.genre{% endtrans %}</label>
                                        {{ form_widget(form.Genre, { 'attr': { 'class': 'trigger-target-load form-control', 'data-target': '#trigger-registration-type', 'data-ajax': url('ajax_types') } }) }}
                                    </div>

                                    <div class="col-md-4 form-group{% if form.Register.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.register{% endtrans %}</label>
                                        {{ form_widget(form.Register, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                    
                                    <div class="col-md-4 form-group{% if form.Document.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.document{% endtrans %}</label>
                                        {{ form_widget(form.Document, { 'attr': { 'class': 'trigger-mask-cpf form-control' } }) }}
                                    </div>
                                {% else %}
                                    <div class="col-md-4 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.genre{% endtrans %}</label>
                                        {{ form_widget(form.Genre, { 'attr': { 'class': 'trigger-target-load form-control', 'data-target': '#trigger-registration-type', 'data-ajax': url('ajax_types') } }) }}
                                    </div>

                                    <div class="col-md-6 form-group{% if form.Register.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.register{% endtrans %}</label>
                                        {{ form_widget(form.Register, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.phone{% endtrans %}</label>
                                    {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control' ~ ( app.request.Locale == 'pt_BR' ? ' trigger-mask-phone' : '' ) } }) }}
                                </div>
                            </div>

                            <h2 style="margin-bottom: 16px;">{% trans into app.request.Locale %}form.title.address{% endtrans %}</h2>
                            <div class="row clearfix">
                                <div class="col-md-6 form-group{% if form.Country.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.country{% endtrans %}</label>
                                    {{ form_widget(form.Country, { 'attr': { 'class': 'trigger-target-load form-control', 'data-target': '#trigger-state', 'data-text': '#trigger-payment-text', 'data-ajax': url('ajax_states') } }) }}
                                </div>

                                {% if form.State is defined %}
                                    <div class="col-md-6 form-group{% if form.State.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.state{% endtrans %}</label>
                                        {{ form_widget(form.State, { 'id': 'trigger-state', 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-6 form-group{% if form.City.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.city{% endtrans %}</label>
                                    {{ form_widget(form.City, { 'attr': { 'class': 'form-control' } }) }}
                                </div>

                                <div class="col-md-6 form-group{% if form.Region.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.region{% endtrans %}</label>
                                    {{ form_widget(form.Region, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-8 form-group{% if form.Address.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.address{% endtrans %}</label>
                                    {{ form_widget(form.Address, { 'attr': { 'class': 'form-control' } }) }}
                                </div>

                                <div class="col-md-4 form-group{% if form.Number.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.number{% endtrans %}</label>
                                    {{ form_widget(form.Number, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="row clearfix">
                                {% if form.Complement is defined %}
                                    <div class="col-md-8 form-group{% if form.Complement.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">Complemento</label>
                                        {{ form_widget(form.Complement, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                {% endif %}

                                <div class="col-md-4 form-group{% if form.ZipCode.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.zipcode{% endtrans %}</label>
                                    {{ form_widget(form.ZipCode, { 'attr': { 'class': 'form-control' ~ ( app.request.Locale == 'pt_BR' ? ' trigger-mask-zipcode' : '' ) } }) }}
                                </div>
                            </div>

                            <h2 style="margin-bottom: 16px;">{% trans into app.request.Locale %}form.title.general{% endtrans %}</h2>
                            <div class="row clearfix">
                                <div class="col-md-12 form-group{% if form.Visitor.vars.errors | length %} has-error{% endif %}">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.Visitor) }}
                                            {% if app.request.Locale == 'es' %}
                                            	Soy visitante
                                            {% else %}
	                                        Sou visitante
	                                    {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6 form-group{% if form.Member.vars.errors | length %} has-error{% endif %}">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.Member) }}
                                            {% trans into app.request.Locale %}form.label.member{% endtrans %}
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group{% if form.Confirmed.vars.errors | length %} has-error{% endif %}">
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.Confirmed) }}
                                            {% trans into app.request.Locale %}form.label.confirmed{% endtrans %}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group{% if form.Minister.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.minister{% endtrans %}</label>
                                    {{ form_widget(form.Minister, { 'attr': { 'class': 'form-control' } }) }}
                                </div>

                                <div class="col-md-6 form-group{% if form.UnityName.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.unity{% endtrans %}</label>
                                    {{ form_widget(form.UnityName, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            <div class="row clearfix">
                                {% if form.District is defined %}
                                    <div class="col-md-6 form-group{% if form.District.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.district{% endtrans %}</label>
                                        {{ form_widget(form.District, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                {% endif %}

                                <div class="col-md-6 form-group{% if form.DisplacementId.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.displacement{% endtrans %}</label>
                                    {{ form_widget(form.DisplacementId, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>
                                
                            <div class="row clearfix">
                                {% if form.TrainResponsible is defined %}
                                    <div class="col-md-12 form-group{% if form.TrainResponsible.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.trainresponsible{% endtrans %}</label>
                                        {{ form_widget(form.TrainResponsible, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                {% endif %}
                            </div>

                            <h2 style="margin-bottom: 16px;" class="clearfix">{% trans into app.request.Locale %}form.title.other{% endtrans %}</h2>
                            <div class="row">
                                <div class="col-md-6 form-group{% if form.SpecialNeed.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.specialneed{% endtrans %}</label>
                                    {{ form_widget(form.SpecialNeed, { 'attr': { 'class': 'form-control' } }) }}
                                </div>

                                <div class="col-md-6 form-group{% if form.Comment.vars.errors | length %} has-error{% endif %}">
                                    <label class="group-label">{% trans into app.request.Locale %}form.label.comments{% endtrans %}</label>
                                    {{ form_widget(form.Comment, { 'attr': { 'class': 'form-control' } }) }}
                                </div>
                            </div>

                            {{ form_widget(form._token) }}

                            <button type="submit" class="btn btn-lg btn-success">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}