{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.subscribearea.train{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.subscribearea.train{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'AppBundle:SubscribeArea:header.html.twig' %}
                        </div>
                    </div>
                            
                    {% for label, flashes in app.session.flashbag.all %}
                        {% if label in ['success', 'warning', 'error', 'danger'] %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}" style="margin-top: 40px;">
                                    {{ flash | trans({}, null, app.request.Locale) }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                            
                    <form action="{{ url('subscribe_area_train') }}" method="post" novalidate style="margin-top: 32px;">
                        {{ form_widget(form.SubscribeId) }}

                        <div class="row">
                            <div class="col-md-4 form-group{% if form.ResponsibleName.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">Nome do responsável</label>
                                {{ form_widget(form.ResponsibleName, { 'attr': { 'class': 'form-control' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.ResponsibleEmail.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">E-mail do responsável</label>
                                {{ form_widget(form.ResponsibleEmail, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            
                            <div class="col-md-4 form-group{% if form.ResponsiblePhone.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">Telefone do responsável</label>
                                {{ form_widget(form.ResponsiblePhone, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4 form-group{% if form.Space.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">Total de vagas</label>
                                {{ form_widget(form.Space, { 'attr': { 'class': 'form-control' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.Available.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">Vagas disponíveis</label>
                                {{ form_widget(form.Available, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                            
                            <div class="col-md-4"></div>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-12 form-group{% if form.Description.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">Descrição do trajeto/Cidades que passará</label>
                                {{ form_widget(form.Description, { 'attr': { 'class': 'form-control', 'rows': 6 } }) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}