{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans into app.request.Locale %}title.subscribearea.train{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.subscribearea.train{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'AppBundle:SubscribeArea:header.html.twig' %}
                        </div>
                    </div>
                        
                    <div class="row" style="margin-top: 32px;">
                        <div class="col-md-12">
                            <div class="well">
                                {% for text in texts %}
                                    <p>{{ text | raw }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                            
                    {% for label, flashes in app.session.flashbag.all %}
                        {% if label in ['success', 'warning', 'error', 'danger'] %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}" style="margin-top: 40px;">
                                    {{ flash | trans({}, null, app.request.Locale) }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                            
                    <form action="{{ url('subscribe_area_transfer') }}" method="post" novalidate style="margin-top: 16px;">
                        {{ form_widget(form.SubscribeId) }}

                        <div class="row">
                            <div class="col-md-4 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.phone{% endtrans %}</label>
                                {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.Arrival.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.arrival{% endtrans %}</label>
                                {{ form_widget(form.Arrival, { 'attr': { 'class': 'form-control' } }) }}
                            </div>

                            <div class="col-md-4 form-group{% if form.ComeBack.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.comeback{% endtrans %}</label>
                                {{ form_widget(form.ComeBack, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-6 form-group{% if form.ArrivalDate.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.arrivaldate{% endtrans %}</label>
                                {{ form_widget(form.ArrivalDate, { 'attr': { 'class': 'form-control trigger-mask-datetime' } }) }}
                            </div>

                            <div class="col-md-6 form-group{% if form.ComeBackDate.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.comebackdate{% endtrans %}</label>
                                {{ form_widget(form.ComeBackDate, { 'attr': { 'class': 'form-control trigger-mask-datetime' } }) }}
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-12 form-group{% if form.ArrivalInformation.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.arrivalinformation{% endtrans %}</label>
                                {{ form_widget(form.ArrivalInformation, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group{% if form.ComeBackInformation.vars.errors | length %} has-error{% endif %}">
                                <label class="group-label">{% trans into app.request.Locale %}form.label.transfer.comebackinformation{% endtrans %}</label>
                                {{ form_widget(form.ComeBackInformation, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        </div>
                            
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}