{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.subscribearea{% endtrans %}{% endblock %}

{% block body %}

    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.subscribearea{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 content-text">
                    {% if error is not null %}
                        <div class="alert alert-danger">{{ error.Message | trans({}, null, app.request.Locale) }}</div>
                    {% endif %}
                    
                    {% include 'AppBundle:Includes:login-form.html.twig' %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}