{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.rememberpassword{% endtrans %}{% endblock %}

{% block body %}

    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.rememberpassword{% endtrans %}</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 content-text">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% if label in ['success', 'warning', 'error', 'danger'] %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}" style="margin-top: 40px;">
                                    {{ flash | trans({}, null, app.request.Locale) }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    
                    <form action="{{ url('remember_password') }}" method='post'>
                        <div class="form-group{% if hasErrorField %} has-error{% endif %}">
                            <label>{% trans into app.request.Locale %}form.label.email{% endtrans %}</label>
                            <input class="form-control input-lg" type='text' name='_username' value='{{ email }}' placeholder='{% trans into app.request.Locale %}general.email{% endtrans %}' />
                        </div>

                        <button type='submit' class="btn btn-default">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}