<form action="{{ url('login_check') }}" method='post'>
    <div class="form-group">
        <label>{% trans into app.request.Locale %}form.label.email{% endtrans %}</label>
        <input class="form-control" type='text' name='_username' value='{% if last_username is defined %}{{ last_username }}{% endif %}' placeholder='{% trans into app.request.Locale %}general.email{% endtrans %}' />
    </div>
    <div class="form-group">
        <label>{% trans into app.request.Locale %}form.label.password{% endtrans %}</label>
        <input class="form-control" type='password' name='_password' placeholder='{% trans into app.request.Locale %}general.password{% endtrans %}' />
    </div>

    <button type='submit' class="btn btn-default">{% trans into app.request.Locale %}general.enter{% endtrans %}</button>
    <a href="{{ url('remember_password') }}" class="btn">{% trans into app.request.Locale %}title.rememberpassword{% endtrans %}</a>
</form>