<html>
    <head>
        <title>{% if locale == 'es' %}¡Su reserva esta Confirmada!{% else %}Sua reserva está Confirmada!{% endif %}</title>
    </head>
    
    <body>
        <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
            <tr>
                <td>
                    <a href="{{ url('index') }}"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/emails/registration-header.jpg') }}" border="0" /></a>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px; color: #666; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                    {% if locale == 'es' %}
                        <h1 style="color: #3d85c6; font-size: 32pt;">¡Ya puedes festejar!</h1>
                        <h2 style="color: #3d85c6; font-size: 18pt; font-weight: normal;">A partir de ahora sos parte del 1º Encuentro Latinoamericano</h2>

                        <p style="font-size: 14pt; font-weight: bold; color: #666;"><strong style="background: #F1C232; color: #fff; font-size: 14pt; font-weight: bold; display: inline-block;">Para confirmar yu inscripción, tienes que efectuar el pago,</strong> respetando tu elección en el momento de la inscripción (al contado o cuotas).<p>

                        <p style="font-size: 16pt;">Seguí acompañando las informaciones y novedades por la pagina web <a href="http://www.latinoamericano2017.com" target="_blank">latinoamericano2017.com</a> y por facebook: Latinoamericano 2017</p>

                        <p style="font-size: 16pt;">¡Unidos en Cristo, nos vemos pronto!</p>
                    {% else %}
                        <h1 style="color: #3d85c6; font-size: 32pt;">Pode comemorar!</h1>
                        <h2 style="color: #3d85c6; font-size: 18pt; font-weight: normal;">A partir de agora você faz parte do 45º Congresso Nacional da JELB e 1º Encontro Latino-americano!</h2>

                        <p style="font-size: 14pt; font-weight: bold; color: #666;"><strong style="background: #F1C232; color: #fff; font-size: 14pt; font-weight: bold; display: inline-block;">Para confirmar sua inscrição você precisa efetuar o pagamento,</strong> respeitando a sua escolha no momento da inscrição (à vista ou parcelado).</p>

                        <p style="font-size: 16pt;">Continue acompanhando as informações e novidades pelo site <a href="http://www.latinoamericano2017.com" target="_blank">latinoamericano2017.com</a> e facebook: Latinoamericano2107</p>

                        <p style="font-size: 16pt;">Unidos em Cristo, nos vemos em breve!</p>
                    {% endif %}
                </td>
            </tr>
            
            <tr>
                <td>
                    <img style="margin-left: 40px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-500.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-jelb.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-jelpa.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-ministerio-joven.png') }}" />
                </td>
            </tr>
        </table>
    </body>
</html>