<html>
    <head>
        <title>{% if locale == 'es' %}Nueva contraseña para acceso a tu área de inscripto!{% else %}Nova senha para acesso à sua Área do Inscrito!{% endif %}</title>
    </head>
    
    <body>
        <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
            <tr>
                <td>
                    <a href="{{ url('index') }}"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/emails/rememberpass-header.png') }}" border="0" /></a>
                </td>
            </tr>
            <tr>
                <td style="padding: 40px; color: #666; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                    {% if locale == 'es' %}
                        <h1 style="color: #3d85c6; font-size: 32pt;">Nueva contraseña para acceso a tu área de inscripto!</h1>
                        <h2 style="color: #3d85c6; font-size: 18pt; font-weight: normal;">Utiliza la contraseña abajo para accesar tu área de inscripto:</h2>

                        <p style="font-size: 14pt; font-weight: bold; color: #666;"><strong style="padding: 4px; background: #F1C232; color: #fff; font-size: 14pt; font-weight: bold; display: inline-block;">{{ newPassword }}</strong></p>

                        <p style="font-size: 16pt;">Así que tengas acceso, puedes alterar tu contraseña en "Editar mi inscripción".</p>

                        <p style="font-size: 16pt;">¡Unidos en Cristo, nos vemos pronto!</p>
                    {% else %}
                        <h1 style="color: #3d85c6; font-size: 32pt;">Nova senha para acesso à sua Área do Inscrito!</h1>
                        <h2 style="color: #3d85c6; font-size: 18pt; font-weight: normal;">Utilize a senha abaixo para acessar a sua Área do Inscrito:</h2>

                        <p style="font-size: 14pt; font-weight: bold; color: #666;"><strong style="padding: 4px; background: #F1C232; color: #fff; font-size: 14pt; font-weight: bold; display: inline-block;">{{ newPassword }}</strong></p>

                        <p style="font-size: 16pt;">Assim que acessar, você pode alterar sua senha clicando em "Editar minha inscrição".</p>

                        <p style="font-size: 16pt;">Unidos em Cristo, nos vemos em breve!</p>
                    {% endif %}
                </td>
            </tr>
            
            <tr>
                <td>
                    <img style="margin-left: 40px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-500.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-jelb.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-jelpa.png') }}" />
                    <img style="margin-left: 16px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/assets/images/home/home-theme-ministerio-joven.png') }}" />
                </td>
            </tr>
        </table>
    </body>
</html>