{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Editar Configurações - Configurações{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Configurações<small> - Edição</small></h1>
    </div>

    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <form autocomplete="off" novalidate action="{{ url('admin_configuration_configuration') }}" method="post">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                {% for name, item in configuration %}
                    {% if item.type == 'checkbox' %}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="{{ item.type }}" name="{{ name | replace({".": "_"}) }}" value="1"{% if item.value %} checked="checked"{% endif %} />
                                        {{ item.label }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% elseif item.type == 'select' %}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>{{ item.label }}:</label>
                                <select class="{{ item.class }}" name="{{ name | replace({".": "_"}) }}">
                                    {% for key, choice in item.choices %}
                                        <option value="{{ key }}"{% if item.value == key %} selected="selected"{% endif %}>{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>{{ item.label }}:</label>
                                <input type="{{ item.type }}" class="{{ item.class }}" name="{{ name | replace({".": "_"}) }}" value="{{ item.value }}" />
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}