{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.subscribers{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="registration">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.registration{% endtrans %}</h1>
        </div>
        
        <div class="stats">
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">{% trans into app.request.Locale %}subscribers.title.stats{% endtrans %}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">Total</div>
                                <div class="panel-body text-center">
                                    <span class="number">{{ subscribers.count }}</span><br />
                                    {% trans into app.request.Locale %}subscribers.stats.subscribe{% endtrans %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    {% if not mobile %}
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    {% for country in countries %}
                                        <div class="col-md-2 text-center country-item" style="padding: 0px; width: 100px; height: 100px;">
                                            <strong style="margin-top: 28px;">{{ country.Name }}</strong>
                                            {{ country.Total }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        
        <div class="first-registration-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="link" href="{{ url('registration') }}">{% trans into app.request.Locale %}general.registration.here{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="content-text">
                <h1 class="text-center">{% trans into app.request.Locale %}subscribers.title.list{% endtrans %}</h1>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {{ render(url('text_part', {'routeName': app.request.get('_route')})) }}
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row-fluid">
                            <form action="{{ url('subscribers') }}" method="get">
                                <div class="col-md-5 input-group pull-right">
                                    <input style="margin-top: 0px;" type="text" placeholder="Buscar" name="busca" value="{{ search }}" class="form-control input-lg" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <table class="table" style="margin-top: 16px;">
                                    <tr>
                                        <th class="active">#</th>
                                        <th class="active">{% trans into app.request.Locale %}table.title.name{% endtrans %}</th>
                                        <th class="active">{% trans into app.request.Locale %}table.title.citystate{% endtrans %}</th>
                                        <th class="active">{% trans into app.request.Locale %}table.title.district{% endtrans %}</th>
                                    </tr>
                                    {% for subscribe in subscribers %}
                                        <tr>
                                            <th>{{ subscribe.Id }}</th>
                                            <th>{{ subscribe.Name }}</th>
                                            <th>{{ subscribe.City }}{% if subscribe.State is not null %}/{{ subscribe.State }}{% endif %}</th>
                                            <th>{% if subscribe.District is not null %}{{ subscribe.District }}{% else %}-{% endif %}</th>
                                        </tr>
                                    {% endfor %}
                                </table>

                                {% set reqQuery = app.request.query.all %}
                                {% set paginator = subscribers %}
                                {% if paginator is defined and paginator.haveToPaginate %}
                                    <nav>
                                        <ul class="pagination">
                                            {% if paginator.Page > 1 %}
                                                <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                                            {% else %}
                                                <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                                            {% endif %}

                                            {% for page in paginator.Links(5) %}
                                                {%if page == paginator.page  %}
                                                    <li class="active"><a href="#">{{ page }}</a></li>
                                                {% else %}
                                                    <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if paginator.Page < paginator.LastPage %}
                                                <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                                            {% else %}
                                                <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}