{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{% if null != id %}Editar usuário{% else %}Adicionar novo usuário{% endif %} - Configurações{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Usuários<small> - Criação/edição</small></h1>
    </div>

    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <form autocomplete="off" novalidate action="{{ ( id != null ? url('admin_configuration_user_edit', {'id': id}) : url('admin_configuration_user_create') ) }}" method="post">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="row">
                    <div class="col-md-12 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                        <label>Nome</label>
                        {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                        <label>E-mail</label>
                        {{ form_widget(form.Email, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group{% if form.Password.vars.errors | length %} has-error{% endif %}">
                        <label>Senha{% if user is not null %} <small class="text-muted">(Se você não deseja alterar a senha, deixe o campo em branco)</small>{% endif %}</label>
                        {{ form_widget(form.Password, { 'attr': { 'autocomplete': 'off', 'class': 'form-control' } }) }}
                    </div>
                </div>
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}