{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Usuários - Configurações{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Usuários</h1>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url('admin_configuration_user_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar usuário</a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 16px;">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="active col-md-5">Nome</th>
                    <th class="active col-md-3">E-mail</th>
                    <th class="active col-md-4"></th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.Name }}</td>
                        <td>{{ user.Email }}</td>
                        <td class="text-center">
                            <a href="{{ url('admin_configuration_user_edit', {'id': user.Id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Editar</a>
                            {% if user.Id != app.User.Id %}
                                <a href="{{ url('admin_configuration_user_remove', {'id': user.Id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Excluir</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
                
    {% set reqQuery = app.request.query.all %}
    {% set paginator = users %}
    {% if paginator is defined and paginator.haveToPaginate %}
        <nav>
            <ul class="pagination">
                {% if paginator.Page > 1 %}
                    <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for page in paginator.Links(5) %}
                    {%if page == paginator.page  %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.Page < paginator.LastPage %}
                    <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}