{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Financeiro - Relatórios{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Relatório financeiro</h1>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Valor recebido hoje</strong></div>
                <div class="panel-body text-center">
                    <h1>R$ {{ totalPaidToday | number_format(2, ",", ".") }} <a href="{{ url('admin_report_financial_export') }}" data-toggle="tooltip" data-placement="top" title="Exportar relatório" class="btn btn-lg btn-success"><i class="fa fa-download"></i></a></h1>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Total recebido</strong></div>
                <div class="panel-body text-center">
                    <h1>R$ {{ (totalPaid + totalDonation) | number_format(2, ",", ".") }}</h1>
                </div>
            </div>
        </div>
                
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Total em inscrições</strong></div>
                <div class="panel-body text-center">
                    <h1>R$ {{ totalPaid | number_format(2, ",", ".") }}</h1>
                </div>
            </div>
        </div>
                
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Total em doações</strong></div>
                <div class="panel-body text-center">
                    <h1>R$ {{ totalDonation | number_format(2, ",", ".") }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Não pagaram a primeira parcela (Cancelados)</strong></div>
                <div class="panel-body text-center">
                    <h1>{{ firstPendent }}</h1>
                </div>
            </div>
        </div>
                
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Reativaram a inscrição (Pendente)</strong></div>
                <div class="panel-body text-center">
                    <h1>{{ reactives }}</h1>
                </div>
            </div>
        </div>
                
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Reativaram a inscrição (Pago)</strong></div>
                <div class="panel-body text-center">
                    <h1>{{ reactivesPaid }}</h1>
                </div>
            </div>
        </div>
    </div>

    {% if donations.count > 0 %}
        <div class="page-header">
            <h2>Doações</h2>
        </div>
        
        <table class="table table-bordered">
            <tr>
                <th class="active">Dados do doador</th>
                <th class="text-center active">Data da doação</th>
                <th class="text-right active">Valor da doação</th>
                <th class="text-center active">Data de pagamento</th>
                <th class="text-center active">Status</th>
            </tr>
            {% for donation in donations %}
                <tr>
                    <td>
                        <strong>{{ donation.Name }}</strong><br />
                        {{ donation.Email }}<br />
                        {{ donation.Phone }}
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        {{ donation.Date | date("d/m/Y") }}
                    </td>
                    <td class="text-right" style="vertical-align: middle;">
                        R$ {{ donation.Price | number_format(2, ",", ".") }}
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        {% if donation.Paid %}
                            {{ donation.PaymentDate | date("d/m/Y") }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        {% if donation.Paid %}
                            <span class="label label-success">Pago</span>
                        {% else %}
                            <p><span class="label label-danger">Pendente</span></p>
                            <p><a href="{{ url('admin_report_financial_donation_paid', { 'id': donation.Id }) }}" class="btn btn-warning">Marcar como pago</a></p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}