{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Geral - Relatórios{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Relatório geral</h1>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Média de inscritos por dia</strong></div>
                <div class="panel-body text-center">
                    <h1>{{ dayAvg.Avg | number_format(2, ",", ".") }}</h1>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Média de inscritos por mês</strong></div>
                <div class="panel-body text-center">
                    <h1>{{ monthAvg.Avg | number_format(2, ",", ".") }}</h1>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Dias do mês com mais inscritos</strong></div>
                <table class="table table-bordered">
                    <tr>
                        <th class="active text-center">Dia</th>
                        <th class="active text-center">Inscritos</th>
                    </tr>
                    {% for item in mostUsedMonthDay %}
                        <tr>
                            <td class="text-center">{{ item.Day }}</td>
                            <td class="text-center">{{ item.Total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Dias da semana com mais inscritos</strong></div>
                <table class="table table-bordered">
                    <tr>
                        <th class="active text-center">Dia</th>
                        <th class="active text-center">Inscritos</th>
                    </tr>
                    {% for item in mostUsedWeekDay %}
                        <tr>
                            <td class="text-center">{{ item.Day | trans({}, null, 'pt_BR') }}</td>
                            <td class="text-center">{{ item.Total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por país</strong></div>
                <div class="panel-body" id="trigger-chart-countries"></div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por estado</strong></div>
                <div class="panel-body" id="trigger-chart-states"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por distrito</strong></div>
                <div class="panel-body" id="trigger-chart-districts"></div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por tipo de inscrição</strong></div>
                <div class="panel-body" id="trigger-chart-types"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por parcelamento</strong></div>
                <div class="panel-body" id="trigger-chart-quotas"></div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por sexo</strong></div>
                <div class="panel-body" id="trigger-chart-genre"></div>
            </div>
        </div>
    </div>
                    
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Inscritos por idade</strong></div>
                <div class="panel-body" id="trigger-chart-ages"></div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
    </script>
    
    <script type="text/javascript">
        function drawVisualization() {
            // Countries
            var data = google.visualization.arrayToDataTable([
                ['País', 'Inscritos'],{% for item in countries %}['{{ item.Name }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-countries").get('0'));
            chart.draw(data, {});
            
            // States
            var data = google.visualization.arrayToDataTable([
                ['Estado', 'Inscritos'],{% for item in states %}['{{ item.Name }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-states").get('0'));
            chart.draw(data, {});
            
            // States
            var data = google.visualization.arrayToDataTable([
                ['Distrito', 'Inscritos'],{% for item in districts %}['{{ item.Name }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-districts").get('0'));
            chart.draw(data, {});
            
            // Types
            var data = google.visualization.arrayToDataTable([
                ['Tipo de inscrição', 'Inscritos'],{% for item in types %}['{{ item.Name }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-types").get('0'));
            chart.draw(data, {});
            
            // Quotas
            var data = google.visualization.arrayToDataTable([
                ['Parcelas', 'Inscritos'],{% for item in quotas %}['{% if item.Quota == 1 %}À vista{% else %}{{ item.Quota }}x{% endif %}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-quotas").get('0'));
            chart.draw(data, {});
            
            // Genre
            var data = google.visualization.arrayToDataTable([
                ['Sexo', 'Inscritos'],{% for item in genre %}['{{ item.Genre }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-genre").get('0'));
            chart.draw(data, {});
            
            // Ages
            var data = google.visualization.arrayToDataTable([
                ['Idade', 'Inscritos'],{% for item in ages %}['{{ item.Age }}', {{ item.Total }}]{% if not loop.last %},{% endif %}{% endfor %}
            ]);

            var chart = new google.visualization.PieChart($("#trigger-chart-ages").get('0'));
            chart.draw(data, {});
        }

        google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}