{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Imagens - Conteúdo{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Imagens</h1>
    </div>
    
    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <div class="well" style="padding-bottom: 4px;">
        <form action="{{ url('admin_content_image') }}" method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group{% if form.Image.vars.errors | length %} has-error{% endif %}">
                        <label class="sr-only" to="field-page">Imagem</label>
                        {{ form_widget(form.Image, { 'attr': { 'class': 'form-control', 'style': 'padding: 0px;' } }) }}
                    </div>
                </div>
                    
                {{ form_rest(form) }}
                    
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Enviar</button>
                </div>
            </div>
        </form>
    </div>
    
    {% include "AdminBundle:Image:list.html.twig" %}
{% endblock %}