<div class="row">
    {% for file in files %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <div style="height: 200px; overflow: hidden;">
                    <img src="{{ asset('assets/images/uploaded/' ~ file.FileName) }}" alt="{{ file.FileName }}" style="width: 100%;" />
                </div>
                <div class="caption">
                    {% if showUrl is defined and showUrl %}
                        <p style="word-wrap: break-word;">/assets/images/uploaded/{{ file.FileName }}</p>
                    {% else %}
                        <p><a href="{{ url('admin_content_image_remove', { 'arquivo': file.FileName }) }}" class="btn btn-danger btn-sm" role="button"><i class="fa fa-trash"></i> Excluir</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>