{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.donation{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="donation">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.donation{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    {{ render(url('text_part', {'routeName': app.request.get('_route')})) }}

                    {% if donationLogin is defined and donationLogin is null %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Já fez uma doação e gostaria de acessar seu boleto?</h4>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 16px;">
                                            <div class="col-md-8 form-group{% if app.request.request.has('login') and app.request.request.get('login') == '' %} has-error{% endif %}">
                                                <form action="{{ url('donation') }}" method="post">
                                                    <label>Informe aqui seu e-mail para acessar sua doação:</label>
                                                    <div class="input-group input-group-lg" style="margin-top: 4px;">
                                                        <input type="email" name="login" class="form-control" style="margin-top: 0px;" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default btn-lg" type="submit">Procurar</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="{{ url('donation') }}" method="post">
                                            <div class="row" style="margin-bottom: 16px;">
                                                <div class="col-md-12">
                                                    <h4>Faça aqui a sua doação</h4>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                                                    <label>Seu nome:</label>
                                                    {{ form_widget(form.Name, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                                </div>
                                                <div class="col-md-6 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                                                    <label>Seu e-mail <small>(Será usado como login para acessar suas doações)</small>:</label>
                                                    {{ form_widget(form.Email, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                                                    <label>Seu telefone:</label>
                                                    {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control input-lg' } }) }}
                                                </div>
                                                <div class="col-md-6 form-group{% if form.Price.vars.errors | length %} has-error{% endif %}">
                                                    <label>Valor que deseja doar <small>(R$)</small>:</label>
                                                    {{ form_widget(form.Price, { 'attr': { 'class': 'form-control input-lg trigger-mask-money' } }) }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 form-group{% if form.Observation.vars.errors | length %} has-error{% endif %}">
                                                    <label>Mensagem:</label>
                                                    {{ form_widget(form.Observation, { 'attr': { 'class': 'form-control input-lg', 'rows': 5 } }) }}
                                                </div>
                                            </div>

                                            {{ form_rest(form) }}
                                            
                                            <button type="submit" class="btn btn-lg btn-success">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-md-12">
                                <h1 class="user-name">
                                    <span class="fa-stack fa-lg" aria-hidden="true">
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                    </span>
                                    {{ donations.First.Name }}<br />
                                    <a href="{{ url('donation_logout') }}" class="btn btn-logout">{% trans into app.request.Locale %}general.logout{% endtrans %}</a>
                                </h1>
                            </div>
                        </div>
                                
                        {% for donation in donations %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Data da doação:</strong><br />
                                                    {{ donation.Date | date("d/m/Y") }}
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Valor da doação:</strong><br />
                                                    R$ {{ donation.Price | number_format(2, ",", ".") }}
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    {% if donation.Paid %}
                                                        <h2 class="label label-success">Pago</h2>
                                                    {% else %}
                                                        <a target="_blank" href="/boleto/doacao.php?id={{ donation.Id }}" class="btn btn-danger btn-lg">Pagar</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}