{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{% if null != id %}Editar oficina{% else %}Adicionar nova oficina{% endif %} - Configurações{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Oficinas<small> - Criação/edição</small></h1>
    </div>

    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <form action="{{ ( id != null ? url('admin_configuration_workshop_edit', {'id': id}) : url('admin_configuration_workshop_create') ) }}" method="post">
        <div class="row">
            <div class="col-md-12 col-sm-12 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                <label>Nome</label>
                {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12 col-sm-12 form-group{% if form.Description.vars.errors | length %} has-error{% endif %}">
                <label>Descrição</label>
                {{ form_widget(form.Description, { 'attr': { 'class': 'form-control', 'rows': 6 } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12 col-sm-12 form-group{% if form.Description.vars.errors | length %} has-error{% endif %}">
                <label>Descrição</label>
                {{ form_widget(form.Description, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group{% if form.Modality.vars.errors | length %} has-error{% endif %}">
                <label>Modalidade</label>
                {{ form_widget(form.Modality, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            
            <div class="col-md-6 col-sm-12 form-group{% if form.Speaker.vars.errors | length %} has-error{% endif %}">
                <label>Oficineiro</label>
                {{ form_widget(form.Speaker, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group{% if form.Start.vars.errors | length %} has-error{% endif %}">
                <label>Data e hora de início</label>
                {{ form_widget(form.Start, { 'attr': { 'class': 'form-control trigger-mask-datetime' } }) }}
            </div>
            
            <div class="col-md-6 col-sm-12 form-group{% if form.End.vars.errors | length %} has-error{% endif %}">
                <label>Data e hora de fim</label>
                {{ form_widget(form.End, { 'attr': { 'class': 'form-control trigger-mask-datetime' } }) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group{% if form.SpaceAvailable.vars.errors | length %} has-error{% endif %}">
                <label>Quantidade Máxima pessoas inscritas</label>
                {{ form_widget(form.SpaceAvailable, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            
            <div class="col-md-6 col-sm-12 form-group{% if form.Opened.vars.errors | length %} has-error{% endif %}">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.Opened) }}
                        Inscrição aberta
                    </label>
                </div>
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}