{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.contact{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="contact">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.contact{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            {% for label, flashes in app.session.flashbag.all %}
                                {% if label in ['success', 'warning', 'error', 'danger'] %}
                                    {% for flash in flashes %}
                                        <div class="alert alert-{{ label }}">
                                            {{ flash | trans({}, null, app.request.Locale) }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <div class="content-text">
                                {{ render(url('text_part', {'routeName': 'contact-first-text'})) }}
                            </div>

                            <form action="{{ url("contact") }}" method="post" novalidate>
                                <div class="row">
                                    <div class="col-md-6 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.name{% endtrans %}</label>
                                        {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                    <div class="col-md-6 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.phone{% endtrans %}</label>
                                        {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.email{% endtrans %}</label>
                                        {{ form_widget(form.Email, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group{% if form.Subject.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.subject{% endtrans %}</label>
                                        {{ form_widget(form.Subject, { 'attr': { 'class': 'form-control' } }) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group{% if form.Message.vars.errors | length %} has-error{% endif %}">
                                        <label class="group-label">{% trans into app.request.Locale %}form.label.message{% endtrans %}</label>
                                        {{ form_widget(form.Message, { 'attr': { 'class': 'form-control', 'rows': 5 } }) }}
                                    </div>
                                </div>
                                    
                                {{ form_rest(form) }}
                                
                                <button type='submit' class="btn btn-default">{% trans into app.request.Locale %}general.sent{% endtrans %}</button>
                            </form>
                        </div>
                        <div class="col-md-5 col-sm-12 second-text content-text">
                            {{ render(url('text_part', {'routeName': 'contact-second-text'})) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}