{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block body %}
    {% if mobile %}
        {% include 'AppBundle:Mobile/Default:index.html.twig' %}
    {% else %}
        <div id="home">
            <div class="theme">
                <div class="container">
                    <div class="row theme-part">
                        <div class="col-md-12 text-center">
                            <img src="{{ asset('/assets/images/home/home-theme-part-1.png') }}" />
                        </div>
                    </div>
                    <div class="row theme-part">
                        <div class="col-md-12 text-center">
                            <img src="{{ asset('/assets/images/home/home-theme-part-2-'~ app.request.Locale ~'.png') }}" />
                        </div>
                    </div>
                    <div class="row theme-part">
                        <div class="col-md-12 text-center">
                            <img class="theme-500-img" src="{{ asset('/assets/images/home/home-theme-500.png') }}" />
                            <img class="theme-jelb-img" src="{{ asset('/assets/images/home/home-theme-jelb.png') }}" />
                            <img class="theme-jelpa-img" src="{{ asset('/assets/images/home/home-theme-jelpa.png') }}" />
                            <img class="theme-joven-img" src="{{ asset('/assets/images/home/home-theme-ministerio-joven.png') }}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="first-registration-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="link" href="{{ url('registration') }}">{% trans into app.request.Locale %}general.registration.here{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="first-text-bar">
                <div class="container">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 content-text">
                        {{ render(url('text_part', {'routeName': 'index-first-text'})) }}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="first-information-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{{ asset('assets/images/home/home-information-text-1-'~ app.request.Locale ~'.png') }}" class="first-image" />
                            <img src="{{ asset('assets/images/home/home-information-text-2-'~ app.request.Locale ~'.png') }}" class="second-image" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-interception">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {{ render(url('text_part', {'routeName': 'index-verse'})) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="second-information-bar">
                <div class="container">
                    <span class="map-marker"></span>
                    <span class="map-marker-text"></span>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 content-text">
                            {{ render(url('text_part', {'routeName': 'index-second-text'})) }}
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <span class="title">{% trans into app.request.Locale %}general.title.sponsor{% endtrans %}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}