{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.theme{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="theme">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.theme{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 content-text">
                    {{ render(url('text_part', {'routeName': app.request.get('_route')})) }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    
{% endblock %}