{% extends ( mobile ? 'AppBundle:Mobile:base.html.twig' : 'AppBundle::base.html.twig' ) %}

{% block title %}{% trans into app.request.Locale %}title.train{% endtrans %}{% endblock %}

{% block body %}
    
    <div id="internal-page" class="subscribe-area">
        <div class="title">
            <h1>{% trans into app.request.Locale %}title.train{% endtrans %}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 content-text">
                    {{ render(url('text_part', {'routeName': app.request.get('_route')})) }}
                    
                    {% for train in trains %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Nome responsável</strong>:<br />
                                            {{ train.ResponsibleName }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>E-mail responsável</strong>:<br />
                                            {{ train.ResponsibleEmail }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Telefone responsável</strong>:<br />
                                            {{ train.ResponsiblePhone }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Total de vagas</strong>:<br />
                                            {{ train.Space }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Vagas disponíveis</strong>:<br />
                                            {{ train.Available }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Descrição do trajeto/Cidades que passará</strong>:<br />
                                            {{ train.Description }}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    {% set reqQuery = app.request.query.all %}
                    {% set paginator = trains %}
                    {% if paginator is defined and paginator.haveToPaginate %}
                        <nav>
                            <ul class="pagination">
                                {% if paginator.Page > 1 %}
                                    <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                                {% else %}
                                    <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                                {% endif %}

                                {% for page in paginator.Links(5) %}
                                    {%if page == paginator.page  %}
                                        <li class="active"><a href="#">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if paginator.Page < paginator.LastPage %}
                                    <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                                {% else %}
                                    <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    
{% endblock %}