{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Inscritos</h1>
    </div>
    
    {% if problems.count > 0 %}
        <div class="alert alert-danger">
            {% if problems.count > 1 %}
                <h4>{{ problems.count }} inscritos com problemas de geração de boleto!</h4>
            {% else %}
                <h4>{{ problems.count }} inscrito com problema de geração de boleto!</h4>
            {% endif %}
            <p>Para visualizar os inscritos com problema, <a href="{{ url('admin_subscribe_problem') }}" style="color: #a94442; font-weight: bold;">clique aqui</a>.</p>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form action="{{ url('admin_subscribe_subscribe') }}" method="get">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Buscar <small>(Nome, E-mail, País, Estado, Cidade, Distrito, CPF, RG, Nosso Número)</small></label>
                            <input type="text" name="busca" class="form-control input-lg" value="{% if where.busca is defined %}{{ where.busca }}{% endif %}" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label>País</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pais" value=""{% if where.pais is not defined or (where.pais is defined and where.pais == '') %} checked="checked"{% endif %} />
                                    Todos
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pais" value="brasileiro"{% if where.pais is defined and where.pais == 'brasileiro' %} checked="checked"{% endif %} />
                                    Brasileiros
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pais" value="estrangeiro"{% if where.pais is defined and where.pais == 'estrangeiro' %} checked="checked"{% endif %} />
                                    Extrangeiros
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Pagamento</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pagamento" value=""{% if where.pagamento is not defined or (where.pagamento is defined and where.pagamento == '') %} checked="checked"{% endif %} />
                                    Todos
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pagamento" value="pago"{% if where.pagamento is defined and where.pagamento == 'pago' %} checked="checked"{% endif %} />
                                    Pagos
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="pagamento" value="pendente"{% if where.pagamento is defined and where.pagamento == 'pendente' %} checked="checked"{% endif %} />
                                    Pendente
                                </label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
                    <a href="{{ url('admin_subscribe_subscribe') }}" class="btn btn-danger"><i class="fa fa-eraser"></i> Limpar</a>
                    <a href="{{ url('admin_subscribe_subscribe_export', where) }}" class="btn btn-success"><i class="fa fa-download"></i> Exportar</a>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 16px;">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="active col-md-3">Nome</th>
                    <th class="active">Tipo de inscrição</th>
                    <th class="active">Valor (R$)</th>
                    <th class="active text-center">Pago?</th>
                    <th class="active text-center">Isento</th>
                    <th class="active text-center">Organização</th>
                    <th class="active"></th>
                </tr>
                {% for subscriber in subscribers %}
                    <tr>
                        <td>{{ subscriber.Name }}</td>
                        <td>{{ subscriber.getSubscribeTypeName() }}</td>
                        <td>R$ {{ subscriber.Price | number_format(2, ',', '.') }} {% if subscriber.Quota > 1 %} em {{ subscriber.Quota }}x{% else %}à vista{% endif %}</td>
                        <td class="text-center">
                            {% if subscriber.getPaidPrice() >= subscriber.Price %}
                                <label class="label label-success">R$ {{ subscriber.getPaidPrice() | number_format(2, ",", ".") }}</label>
                            {% elseif subscriber.getPendentPayment() and not subscriber.Free %}
                                {% if subscriber.getPaidPrice() > 0 %}
                                    <label class="label label-warning">R$ {{ subscriber.getPaidPrice() | number_format(2, ",", ".") }}</label>
                                {% else %}
                                    <label class="label label-danger">Não</label>
                                {% endif %}
                            {% else %}
                                {% if subscriber.Free %}
                                    <label class="label label-success">Isento</label>
                                {% else %}
                                    <label class="label label-success">Sim</label>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if subscriber.Free %}
                                <label class="label label-success">Sim</label>
                            {% else %}
                                <label class="label label-danger">Não</label>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if subscriber.Organization %}
                                <label class="label label-success">Sim</label>
                            {% else %}
                                <label class="label label-danger">Não</label>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url('admin_subscribe_subscribe_view', {'id': subscriber.Id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url('admin_subscribe_subscribe_view_payment', {'id': subscriber.Id}) }}" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Pagamentos"><i class="fa fa-money"></i></a>
                            <a href="{{ url('admin_subscribe_subscribe_remove', {'id': subscriber.Id}) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cancelar"><i class="fa fa-remove"></i></a>
                            <a href="{{ url('admin_subscribe_subscribe_areaaccess', {'id': subscriber.Id}) }}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Acessar Área do Inscrito"><i class="fa fa-sign-in"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
                
    {% set reqQuery = app.request.query.all %}
    {% set paginator = subscribers %}
    {% if paginator is defined and paginator.haveToPaginate %}
        <nav>
            <ul class="pagination">
                {% if paginator.Page > 1 %}
                    <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for page in paginator.Links(5) %}
                    {%if page == paginator.page  %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.Page < paginator.LastPage %}
                    <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}