{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ subscriber.Name }} - Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Inscritos<small> - Pagamentos de {{ subscriber.Name }}</small></h1>
    </div>
    
    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-12">
            <a href="{{ url('admin_subscribe_subscribe_view', { 'id': id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i> Editar</a>
        </div>
    </div>
            
    <table class="table table-bordered">
        <tr>
            <th class="active text-center">Data de geração</th>
            <th class="active text-center">Data de vencimento</th>
            <th class="active text-right">Valor (R$)</th>
            <th class="active text-center">Situação</th>
            <th>Nosso número</th>
            <th class="text-center"></th>
        </tr>
        {% for item in subscriber.SubscribePayments %}
            <tr>
                <td class="text-center">{{ item.CreateDate | date("d/m/Y") }}</td>
                <td class="text-center col-md-3">
                    {% if not item.Paid %}
                        <div class="input-group trigger-duedate-update" data-ajax="{{ url('admin_subscribe_subscribe_view_payment_duedate', { 'id': id, 'paymentId': item.Id }) }}">
                            <input type="text" name="dueDate" value="{{ item.DueDate | date("d/m/Y") }}" class="form-control text-center trigger-mask-date" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Alterar data de vencimento"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    {% else %}
                        {{ item.DueDate | date("d/m/Y") }}
                    {% endif %}
                </td>
                <td class="text-right col-md-2">
                    {% if not item.Paid %}
                        <div class="input-group trigger-price-update" data-ajax="{{ url('admin_subscribe_subscribe_view_payment_price', { 'id': id, 'paymentId': item.Id }) }}">
                            <input type="text" name="price" value="{{ item.Price | number_format(2, ',', '.') }}" class="form-control text-right trigger-mask-money" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Alterar valor"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    {% else %}
                        R$ {{ item.Price | number_format(2, ",", ".") }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.Paid %}
                        <span class="label label-success">PAGO</span>
                    {% elseif item.Cancel %}
                        <span class="label label-danger">CANCELADA</span>
                    {% else %}
                        <span class="label label-warning">AGUARDANDO PGTO.</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.OwerNumber %}
                        {{ item.OwerNumber }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if not item.Paid %}
                        <a href="{{ url('admin_subscribe_subscribe_view_payment_paid', { 'id': id, 'paymentId': item.Id }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Marcar como pago"><i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="#" class="btn btn-success disabled" disabled data-toggle="tooltip" data-placement="top" title="Marcar como pago"><i class="fa fa-check"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <hr />
        
    <h2>Gerar nova parcela</h2>
    <div class="row" style="margin-top: 14px;">
        <div class="col-md-6">
            <form action="{{ url ('admin_subscribe_subscribe_view_payment', { 'id': id }) }}" method="post">
                <div class="well">
                    {{ form_widget(form.SubscribeId) }}

                    <div class="row">
                        <div class="col-md-4 form-group{% if form.DueDate.vars.errors | length %} has-error{% endif %}">
                            <label>* Data de vencimento</label>
                            {{ form_widget(form.DueDate, { 'attr': { 'class': 'form-control trigger-mask-date' } }) }}
                        </div>
                        <div class="col-md-4 form-group{% if form.Price.vars.errors | length %} has-error{% endif %}">
                            <label>* Valor (R$)</label>
                            {{ form_widget(form.Price, { 'attr': { 'class': 'form-control trigger-mask-money' } }) }}
                        </div>

                        {{ form_rest(form) }}

                        <div class="col-md-4" style="margin-top: 16px;">
                            <button type="submit" class="btn btn-lg btn-success">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}