{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ subscriber.Name }} - Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Inscritos<small> - Pagamentos de {{ subscriber.Name }}</small></h1>
    </div>
    
    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% set hasQuotaError = false %}
    {% if problemItem is not null and problemItem.getRealQuota() != problemItem.Quota %}
        {% set hasQuotaError = true %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>Resumo!</h4>
                <p><strong>Parcelamento</strong>: R$ {{ (subscriber.Price | number_format(2, ",", ".")) }} em {{ subscriber.getQuota() }}x de R$ {{ (subscriber.Price / subscriber.Quota) | number_format(2, ',', '.') }}</p>
                <p><strong>Registro no banco de dados</strong>: {{ subscriber.Quota }}x</strong></p>
                <div class="row">
                    <div class="col-md-3">
                        <label>Alterar quantidade de parcelas:</label>
                        <div class="input-group trigger-quota-update" data-ajax="{{ url('admin_subscribe_problem_quotas_change', { 'id': id }) }}">
                            <input type="number" name="quota" value="{{ subscriber.Quota }}" class="form-control text-center" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Alterar parcelas"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <table class="table table-bordered">
        <tr>
            <th class="active text-center">Data de geração</th>
            <th class="active text-center">Data de vencimento</th>
            <th class="active text-center">Data de pagamento</th>
            <th class="active text-right">Valor (R$)</th>
            <th class="active text-center">Situação</th>
            <th>Nosso número</th>
            <th class="text-center"></th>
        </tr>
        {% for item in subscriber.SubscribePayments %}
            <tr>
                <td class="text-center">{{ item.CreateDate | date("d/m/Y") }}</td>
                <td class="text-center col-md-3">
                    {% if not item.Paid %}
                        <div class="input-group trigger-duedate-update" data-ajax="{{ url('admin_subscribe_subscribe_view_payment_duedate', { 'id': id, 'paymentId': item.Id }) }}">
                            <input type="text" name="dueDate" value="{{ item.DueDate | date("d/m/Y") }}" class="form-control text-center trigger-mask-date" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Alterar data de vencimento"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    {% else %}
                        {{ item.DueDate | date("d/m/Y") }}
                    {% endif %}
                </td>
                <td class="text-center">{% if item.Paid %}{{ item.PaymentDate | date("d/m/Y") }}{% else %}-{% endif %}</td>
                <td class="text-right col-md-2">
                    {% if not item.Paid %}
                        <div class="input-group trigger-price-update" data-ajax="{{ url('admin_subscribe_subscribe_view_payment_price', { 'id': id, 'paymentId': item.Id }) }}">
                            <input type="text" name="price" value="{{ item.Price | number_format(2, ',', '.') }}" class="form-control text-right trigger-mask-money" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Alterar valor"><i class="fa fa-refresh"></i></button>
                            </span>
                        </div>
                    {% else %}
                        R$ {{ item.Price | number_format(2, ",", ".") }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if item.Paid %}
                        {% if item.Cancel %}
                            <p><span class="label label-danger">ERRO: CANCELADO/PAGO</span></p>
                            {% if not hasQuotaError %}
                                <p><a href="{{ url('admin_subscribe_problem_item_correct', { 'id': id, 'paymentId': item.Id }) }}" class="btn btn-sm btn-default">Corrigir</a></p>
                            {% else %}
                                <p><a href="#" class="btn btn-sm btn-default disabled" disabled>Corrigir</a></p>
                            {% endif %}
                        {% else %}
                            <span class="label label-success">PAGO</span>
                        {% endif %}
                    {% elseif item.Cancel %}
                        <span class="label label-danger">CANCELADA</span>
                    {% else %}
                        <span class="label label-warning">AGUARDANDO PGTO.</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.OwerNumber %}
                        {{ item.OwerNumber }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if not item.Paid %}
                        <a href="{{ url('admin_subscribe_subscribe_view_payment_paid', { 'return': 'admin_subscribe_problem_item', 'id': id, 'paymentId': item.Id }) }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Marcar como pago"><i class="fa fa-check"></i></a>
                        <a href="{{ url('admin_subscribe_subscribe_view_payment_delete', { 'return': 'admin_subscribe_problem_item', 'id': id, 'paymentId': item.Id }) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                    {% else %}
                        <a href="#" class="btn btn-success disabled" disabled data-toggle="tooltip" data-placement="top" title="Marcar como pago"><i class="fa fa-check"></i></a>
                        <a href="#" class="btn btn-danger disabled" disabled data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}