{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Problemas com pagamento - Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Problemas com pagamento - Total de {{ subscribers.count }}</h1>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form action="{{ url('admin_subscribe_problem') }}" method="get">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Buscar <small>(Nome, E-mail, País, Estado, Cidade, Distrito, CPF, RG, Nosso Número)</small></label>
                            <input type="text" name="busca" class="form-control input-lg" value="{% if where.busca is defined %}{{ where.busca }}{% endif %}" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
                    <a href="{{ url('admin_subscribe_problem') }}" class="btn btn-danger"><i class="fa fa-eraser"></i> Limpar</a>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 16px;">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="active col-md-3">Nome</th>
                    <th class="active">Valor (R$)</th>
                    <th class="active text-center">Erro</th>
                    <th class="active"></th>
                </tr>
                {% for subscriber in subscribers %}
                    <tr>
                        <td>{{ subscriber.Name }}</td>
                        <td>R$ {{ subscriber.Price | number_format(2, ',', '.') }} {% if subscriber.Quota > 1 %} em {{ subscriber.Quota }}x{% else %}à vista{% endif %}</td>
                        <td class="text-center">
                            {% if subscriber.getRealQuota() != subscriber.Quota %}
                                Alterado de <strong>{{ subscriber.getRealQuota() }}x</strong> para <strong>{{ subscriber.Quota }}x</strong> incorretamente
                            {% else %}
                                Parcela está paga porém foi cancelada
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url('admin_subscribe_problem_item', {'id': subscriber.Id}) }}" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Pagamentos"><i class="fa fa-money"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
                
    {% set reqQuery = app.request.query.all %}
    {% set paginator = subscribers %}
    {% if paginator is defined and paginator.haveToPaginate %}
        <nav>
            <ul class="pagination">
                {% if paginator.Page > 1 %}
                    <li><a aria-label="Anteriores" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.PreviousPage }) ) }}"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Anteriores" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for page in paginator.Links(5) %}
                    {%if page == paginator.page  %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : page }) ) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.Page < paginator.LastPage %}
                    <li><a aria-label="Próximos" href="{{ url(app.request.get('_route'), reqQuery|merge({ "pagina" : paginator.NextPage }) ) }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a aria-label="Próximos" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}