{% extends 'AdminBundle::base.html.twig' %}

{% block title %}{{ subscriber.Name }} - Inscritos{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Inscritos<small> - Editar {{ subscriber.Name }}</small></h1>
    </div>
    
    {% for label, flashes in app.session.flashbag.all %}
        {% if label in ['success', 'warning', 'error', 'danger'] %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-12">
            <a href="{{ url('admin_subscribe_subscribe_view_payment', { 'id': id }) }}" class="btn btn-warning"><i class="fa fa-money"></i> Ver pagamentos</a>
        </div>
    </div>
        
    <form action="{{ url('admin_subscribe_subscribe_view', { 'id': id }) }}" method="post" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="form-group text-center">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.Free) }}
                                Isento
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="form-group text-center">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.Organization) }}
                                Faz parte da organização
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Dados pessoais</h2>
        <div class="row">
            <div class="col-md-6 form-group{% if form.Email.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">E-mail</label>
                {{ form_widget(form.Email, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-8 form-group{% if form.Name.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Nome completo</label>
                {{ form_widget(form.Name, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-4 form-group{% if form.Birthday.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Data de nascimento</label>
                {{ form_widget(form.Birthday, { 'attr': { 'class': 'form-control mask-date' } }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group{% if form.Genre.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Sexo</label>
                {{ form_widget(form.Genre, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-4 form-group{% if form.Register.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">RG/Certidão de nascimento</label>
                {{ form_widget(form.Register, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-4 form-group{% if form.Document.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">CPF</label>
                {{ form_widget(form.Document, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group{% if form.Phone.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Telefone</label>
                {{ form_widget(form.Phone, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <h2>Endereço</h2>
        <div class="row clearfix">
            <div class="col-md-6 form-group{% if form.Country.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">País</label>
                {{ form_widget(form.Country, { 'attr': { 'class': 'trigger-target-load form-control', 'data-target': '#trigger-state', 'data-ajax': url('ajax_states') } }) }}
            </div>

            <div class="col-md-6 form-group{% if form.State.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Estado</label>
                {{ form_widget(form.State, { 'id': 'trigger-state', 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 form-group{% if form.City.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Cidade</label>
                {{ form_widget(form.City, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-6 form-group{% if form.Region.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Bairro</label>
                {{ form_widget(form.Region, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-8 form-group{% if form.Address.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Endereço</label>
                {{ form_widget(form.Address, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-4 form-group{% if form.Number.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Número</label>
                {{ form_widget(form.Number, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-8 form-group{% if form.Complement.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Complemento</label>
                {{ form_widget(form.Complement, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-4 form-group{% if form.ZipCode.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">CEP</label>
                {{ form_widget(form.ZipCode, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <h2>Dados gerais da sua inscrição</h2>
        <div class="row clearfix">
            <div class="col-md-6 form-group{% if form.Member.vars.errors | length %} has-error{% endif %}">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.Member) }}
                        Sou membro da IELB
                    </label>
                </div>
            </div>

            <div class="col-md-6 form-group{% if form.Confirmed.vars.errors | length %} has-error{% endif %}">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.Confirmed) }}
                        Sou confirmado (ou por Profissão de fé)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group{% if form.Minister.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Nome do pastor</label>
                {{ form_widget(form.Minister, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-6 form-group{% if form.UnityName.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">União Juvenil</label>
                {{ form_widget(form.UnityName, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 form-group{% if form.District.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Distrito</label>
                {{ form_widget(form.District, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-6 form-group{% if form.DisplacementId.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Deslocamento</label>
                {{ form_widget(form.DisplacementId, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        {% if form.SubscribeTypeId is defined %}
            <h2 class="clearfix">Alterar tipo de inscrição ou forma de pagamento</h2>
            <div class="row">
                <div class="col-md-6 form-group{% if form.SubscribeTypeId.vars.errors | length %} has-error{% endif %}">
                    <label class="group-label">Tipo da inscrição</label>
                    {{ form_widget(form.SubscribeTypeId, { 'attr': { 'class': 'trigger-target-load form-control', 'data-target': '#trigger-quota', 'data-ajax': url('ajax_quota') } }) }}
                </div>

                {# <div class="col-md-6 form-group{% if form.Quota.vars.errors | length %} has-error{% endif %}">
                    <label class="group-label">Forma de pagamento</label>
                    {{ form_widget(form.Quota, { 'id': 'trigger-quota', 'attr': { 'class': 'form-control' } }) }}
                </div> #}
            </div>
        {% endif %}

        <h2 class="clearfix">Outros detalhes</h2>
        <div class="row">
            <div class="col-md-6 form-group{% if form.SpecialNeed.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Necessidades especiais</label>
                {{ form_widget(form.SpecialNeed, { 'attr': { 'class': 'form-control' } }) }}
            </div>

            <div class="col-md-6 form-group{% if form.Comment.vars.errors | length %} has-error{% endif %}">
                <label class="group-label">Comentários</label>
                {{ form_widget(form.Comment, { 'attr': { 'class': 'form-control' } }) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-lg btn-success">Enviar</button>
    </form>
{% endblock %}